<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Prefix</td>
  <td><% if person_name.name_prefix %><%=h person_name.name_prefix %><% end %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">First Name</td>
  <td><% if person_name.first_name %><%=h person_name.first_name %><% end %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Last Name</td>
  <td><% if person_name.last_name %><%=h person_name.last_name %><% end %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Suffix</td>
  <td><% if person_name.name_suffix %><%=h person_name.name_suffix %><% end %></td>
</tr>
