

<div id="providerInfo" >
	<h2><%= @provider.full_name %></h2>
	<h4>Specialty: <%= @provider.specialty_name %></h4>
	<h4>Organization: <%= @provider.organization unless (@provider.organization == nil)%></h4>
	<br>
	
	<h4>NPI:<%=@provider.npi%> </h5>
	<h4>Tax ID: <%= @provider.tin%></h4>
	<h4>Phone: <%= @provider.phone %></h4>
	<h4>Team: <%= @provider.team.try(:name)%></h4>
<!--	
	<div class="btn-group">
		<%= link_to "Edit", edit_provider_path(@provider, :format => :html), :remote => true, :method => :get, :id => "edit_provider", :class => 'tableEdit btn btn-info', :style =>'width:70px'%> 
		<%= link_to "Merge", merge_list_provider_path(@provider, :format => :html), :remote => true, :method => :get, :id => "merge_provider", :class => 'tableEdit btn btn-success', :style =>'width:70px'%> 
	</div>
-->
<!--
	<dl>
		<dt>NPI:</dt>
		<dd><%= @provider.npi%></dd>
		<dt>Tax ID:</dt>
		<dd><%= @provider.tin%></dd>
		<dt>Phone:</dt>
		<dd><%= @provider.phone %></dd>
		<dt>Team:</dt>
		<dd><%= @provider.team.try(:name)%></dd>
	</dl>
-->


</div>

<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
		  $("a#edit_provider").bind("ajax:success", function(event, data){ $("#content").html(data)} );
		  $("a#merge_provider").bind("ajax:success", function(event, data){ $("#merge_provider").replaceWith(data) } );
		});
</script>
