<tr data-provider="<%= provider_row.id %>">
  <td><%= provider_row.family_name%></td>
  <td><%= provider_row.given_name%></td>
  <td><%= provider_row.team.try(:name) || "N/A" %></td>
  <td><%= link_to "edit", edit_provider_path(provider_row), remote: true %> | <%= link_to "manage patients", manage_provider_patients_path(provider_row) %></td>
</tr>