<% if @provider.new_record?
     provider_div = 'providerNew' -%>
<div id="providerNew">
<% else
     provider_div = "provider#{@provider.id}"
   end %>
   <% patient_form_for([@patient, @provider], :update => provider_div) do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Service <%= requirements_for @provider, :start_service %></td>
    <td>
      <%= f.calendar_date_select :start_service %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Service <%= requirements_for @provider, :end_service %></td>
    <td>
      <%= f.calendar_date_select :end_service %>
    </td>
  </tr>
  <%= f.person_name_fields %>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Provider Type <%= requirements_for @provider, :provider_type_id %></td>
    <td>
      <%= f.select :provider_type_id, ProviderType.select_options, {:include_blank => true} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Provider Role <%= requirements_for @provider, :provider_role_id %></td>
    <td>
      <%= f.select :provider_role_id, ProviderRole.select_options, {:include_blank => true} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Provider Role Description <%= requirements_for @provider, :provider_role_free_text %></td>
    <td>
    <%= f.text_field :provider_role_free_text %>
    </td>
  </tr>
  <%= f.address_fields %>
  <%= f.telecom_fields %>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Organization <%= requirements_for @provider, :organization %></td>
    <td>
    <%= f.text_field :organization %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Patient Identifier <%= requirements_for @provider, :patient_identifier %></td>
    <td>
    <%= f.text_field :patient_identifier %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td>
      <%= f.submit "Save" %>
    </td>
  </tr>
</table>
<% end %>
<% if @provider.new_record? -%>
</div>
<% end -%>
