<%= render :partial => "header"%>
<div id="pageContent">
  <div id="providerReports">
    <h1>
      Providers
    </h1>
    <p class="note">
      Teams
    </p>
    <div class="measureList">
      <ul class="measureClassList">
        <% @teams.each do |team| %>
        <li>
          <label><%= team.name%></label>
          <div class="measureItemList" style="display:none">
            <ul>
              <% team.providers.each do |pv| %>
              <li class="<%= (@selected_providers[pv.id]) ? 'checked' : ''%>">
                <%= pv.full_name %>
              </li><% end %>
            </ul>
          </div>
        </li><% end %>
      </ul>
    </div>
  </div>
  <div>
    <div id="aggregate">
      
      
      
      <span class="measurePopulationPercentage">13%</span>
      <%= render :partial => "shared/fraction", locals: {numerator: 13, denominator: 100} %>
      <br/>
      
      <% @provider_ids.each do |provider_id| 
        uuid = @provider_job_uuids[[provider_id]] %>
        <%= quality_report_status(uuid) if uuid %> || 
      <% end %>
      <% @provider_job_uuids.each do |key, value| %>
         <%= "#{key} =>  #{value}"%> @ 
         <%= quality_report_status(value) %> || 
         <%= result_hash(@measure_id, @sub_id, @effective_date, {'providers' => key}) %><br/><br/>
      <% end %>
      
      
    </div>
    <div id="providerList"></div>
  </div>
</div>

<% content_for :head do %>
<script type="text/javascript" charset="utf-8">

var popHealth = popHealth || {};

popHealth.makeProviderListExpandable = function() {
  $('.measureClassList li label').click(function(){
    $(this).toggleClass('open');
    $(this).siblings("div.measureItemList").toggle("blind")
  });
  $('.measureClassList li label').toggleClass('open')
  $('.measureClassList li label').siblings("div.measureItemList").toggle("blind")
};

popHealth.makeMeasuresCheckable = function() {
  $('.measureItemList li').click(function(){
    if ($(this).hasClass('checked')) {
    } else {
    }
    $(this).toggleClass('checked');
  });
};


$(document).ready(function() {
  popHealth.makeProviderListExpandable();
  popHealth.makeMeasuresCheckable();
  
  <% unless Rails.env.development? %>
  $(document).idleTimeout({
    inactivity: 300000,
    noconfirm: 10000,
    sessionAlive: false,
    alive_url: '/',
    redirect_url: '<%= destroy_user_session_path %>',
    logout_url: '/logout.html'
  });
  <% end %>
});

</script>
<% end -%>


