<%= render :partial => "header"%>
<div id="pageContent">
  <div id="providerReports">
    <h1>
      Providers
    </h1>
    <p class="note">
      Teams
    </p>
    <div class="measureList">
      <ul class="measureClassList">
        <% @teams.each do |team| %>
        <li>
          <label><%= team.name%></label>
          <div class="measureItemList" style="display:none">
            <ul>
              <% team.providers.each do |pv| %>
              <li data-provider="<%=pv.id%>" class="<%= checked(@selected_providers, pv)%>">
                <%= pv.full_name %>
              </li><% end %>
            </ul>
          </div>
        </li><% end %>
      </ul>
    </div>
  </div>
  <div id="providerMain">
    <div id="aggregate">
      <%= render :partial => 'shared/measure_metrics', locals: {numerator: 0, denominator: 0} %>
      <%= render :partial => 'shared/measure_title', locals: {measure: @definition, start_date: @period_start, effective_date: @effective_date }%>
    </div><br>
    <table id="providerTable" border="0" cellspacing="5" cellpadding="5" >
      <tr><th colspan="4">Individual Provider Statistics</th></tr>
      <tbody>
          <% @selected_providers.each do |pv| %>
            <tr  data-provider="<%=pv.id%>">
              <td><div class="measureProviderPopulationPercentage">0%</div></td>
              <td><%= pv.full_name %></td>
              <td><%= render :partial => "shared/fraction", locals: {numerator: 0, denominator: 0} %></td>
              <td><%= render :partial => "shared/table_bar", locals: {numerator: 0, denominator:0, patient_count: 0}%></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>

<% content_for :head do %>
<script type="text/javascript" charset="utf-8">

var popHealth = popHealth || {};

popHealth.updateAggregate = function(num, den) {
  var percent = 0
  if (den != 0) {
    percent = (aggregate.numerator / aggregate.denominator);
  }
  $("div#measurePopulationPercentage").html(percent.toString() + "%");
};

popHealth.updateProvider = function(provider, num, den, pop) {
  $("table#providerTable tbody").
};

popHealth.makeProviderListExpandable = function() {
  $('.measureClassList li label').click(function(){
    $(this).toggleClass('open');
    $(this).siblings("div.measureItemList").toggle("blind")
  });
  $('.measureClassList li label').toggleClass('open')
  $('.measureClassList li label').siblings("div.measureItemList").toggle("blind")
};

popHealth.makeMeasuresCheckable = function() {
  $('.measureItemList li').click(function(){
    if ($(this).hasClass('checked')) {
    } else {
    }
    $(this).toggleClass('checked');
  });
};

popHealth.pollJSON = function() {
  $.getJSON("<%= providers_measure_path(measure_id: @definition['id'], sub_id: @definition['sub_id'], format: 'json')%>", function(data) {
    
    if(data.aggregate != null) {
      popHealth.updateAggregate(data.aggregate.numerator, data.aggregate.denominator);
    }
    
    $.each(data.providers, function() {
      $.each(this, function(k, v) {
        if(v != null) {
          popHealth.
        }
      });
    });
    
    if(!data.complete)
    setTimeout(function() {
      popHealth.pollJSON();
    }, 1000);
  });
};


$(document).ready(function() {
  popHealth.makeProviderListExpandable();
  popHealth.makeMeasuresCheckable();
  popHealth.pollJSON();
  
});

</script>
<% end -%>


