<%= render :partial => "header"%>
<div id="pageContent">
  <div id="providerReports">
    <h1>
      Providers
    </h1>
    <p class="note">
      Teams
    </p>
    <div class="measureList">
      <ul class="measureClassList">
        <% @teams.each do |team| %>
        <li>
          <label><%= team.name%></label>
          <div class="measureItemList" style="display:none">
            <ul>
              <% team.providers.each do |pv| %>
              <li class="<%= checked(@selected_providers, pv)%>">
                <%= pv.full_name %>
              </li><% end %>
            </ul>
          </div>
        </li><% end %>
      </ul>
    </div>
  </div>
  <div id="providerMain">
    <div id="aggregate">
      <%= render :partial => 'shared/measure_metrics', locals: {numerator: 60, denominator: 100} %>
      <%= render :partial => 'shared/measure_title', locals: {measure: @definition, start_date: @period_start, effective_date: @effective_date }%>
    </div><br>
    <table border="0" cellspacing="5" cellpadding="5" >
      <tr><th colspan="4">Individual Provider Statistics</th></tr>
          <% @selected_providers.each do |pv| %>
            <tr>
              <td><div class="measureProviderPopulationPercentage">60%</div></td>
              <td><%= pv.full_name %></td>
              <td><%= render :partial => "shared/fraction", locals: {numerator: 60, denominator: 100} %></td>
              <td><%= render :partial => "shared/table_bar", locals: {numerator: 60, denominator:100, patient_count: 334}%></td>
            <tr>
          <% end %>
    </table>
  </div>
</div>

<% content_for :head do %>
<script type="text/javascript" charset="utf-8">

var popHealth = popHealth || {};

popHealth.makeProviderListExpandable = function() {
  $('.measureClassList li label').click(function(){
    $(this).toggleClass('open');
    $(this).siblings("div.measureItemList").toggle("blind")
  });
  $('.measureClassList li label').toggleClass('open')
  $('.measureClassList li label').siblings("div.measureItemList").toggle("blind")
};

popHealth.makeMeasuresCheckable = function() {
  $('.measureItemList li').click(function(){
    if ($(this).hasClass('checked')) {
    } else {
    }
    $(this).toggleClass('checked');
  });
};

popHealth.pollJSON = function() {
  $.getJSON('ajax/test.json', function(data) {
    $("providerList")
  });
};


$(document).ready(function() {
  popHealth.makeProviderListExpandable();
  popHealth.makeMeasuresCheckable();
});

</script>
<% end -%>


