<% if @patient_identifier.new_record?
  patient_identifier_div = 'patientIdentifierNew'  -%>
<div id="patientIdentifierNew">
<% else
     patient_identifier_div = "patient_identifier#{@patient_identifier.id}"
   end %>
   <% remote_form_for([@patient, @patient_identifier], :update => patient_identifier_div) do |f| -%>

<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Patient Identifer <%= requirements_for @patient_identifier, :patient_identifier %></td>
    <td>
      <%= f.text_field :patient_identifier %>
     </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Affinity Domain <%= requirements_for @patient_identifier, :affinity_domain %></td>
    <td>
      <%= f.text_field  :affinity_domain %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end %>
