<%= javascript_include_tag :defaults %>

<% if @condition.new_record?
  condition_div = 'conditionNew' -%>
<div id="conditionNew">
<% else
     condition_div = "condition#{@condition.id}"
   end %>
<% remote_form_for([@patient, @condition], :update => condition_div, :name => "conditions_form") do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Event <%= requirements_for @condition, :start_event %></td>
    <td>
      <%= f.calendar_date_select :start_event %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Event <%= requirements_for @condition, :end_event %></td>
    <td>
      <%= f.calendar_date_select :end_event %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Problem Type <%= requirements_for @condition, :problem_type_id %></td>
    <td>
      <%= f.select :problem_type_id, ProblemType.select_options, {:include_blank => true} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Free Text Problem Name <%= requirements_for @condition, :snowmed_problem %></td>
    <td>
	  <%= text_field_with_auto_complete :snowmed_problem, :name, {:value => @condition.free_text_name}, :method => :get %>
	</td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td><input id="condition_name" name="condition[free_text_name]" type="hidden" value="<%=@condition.free_text_name%>"></td>
	<td><%= f.submit "Save", :onclick => "update_value('snowmed_problem_name', 'condition_name')" %></td>
  </tr>
</table>
<% end %>

