<h5>Information Source (Required)</h5>
<table>
<% if information_source -%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Time</td>
    <td><% if information_source.time %><%=h information_source.time %><% end %></td>
  </tr>
   <%= render :partial => '/person_names/show', :locals => {:person_name => information_source.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Document ID</td>
    <td><% if information_source.document_id %><%=h information_source.document_id %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Represented Organization Name</td>
    <td><% if information_source.organization_name %><%=h information_source.organization_name %><% end %></td>
  </tr>
  <% if @patient.editable_by? current_user -%>
    <tr class="<%= cycle("darkzebra", "lightzebra")%>">
      <td></td>
      <td>
      <span>
        <%= link_to_remote 'Edit', :update => 'informationSourceContainer', 
                                   :url => edit_patient_information_source_path(patient),
                                   :method => 'get' %>
      </span>
      <span>
        <%= link_to_remote 'Remove', :update => 'informationSourceContainer', 
                                   :url => patient_information_source_path(patient),
                                   :confirm => 'Are you sure you wish to remove this information source?',
                                   :method => 'delete' %>
      </span>
      
      </td>
    </tr>
  <% end -%>
<% else -%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">There is no information source data for this test case</td>
    <td><%= link_to_remote 'Create some', :update => 'informationSourceContainer',
                                          :url => new_patient_information_source_path(patient), 
                                          :method => 'get' %>
    </td>
  </tr>
<% end -%>
</table>
