<!-- Start Information Source Module -->
<% patient_form_for(@information_source, :url => patient_information_source_path(@patient),
                   :update => 'informationSourceContainer') do |f| %>
<h5>Information Source (Required)</h5>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Time <%= requirements_for @information_source, :time %></td>
    <td><%= f.calendar_date_select :time %></td>
  </tr>
  <%= f.person_name_fields %>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Document ID <%= requirements_for @information_source, :document_id %></td>
    <td>
      <%= f.text_field :document_id, :onfocus => "Effect.BlindDown('uuid-#{controller.class}');", :onblur => "Effect.BlindUp('uuid-#{controller.class}');" %>
      <em><%= render :partial => '/layouts/uuid_help_text', :locals => { :is_vital_sign => false } %></em>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Represented Organization Name <%= requirements_for @information_source, :organization_name %></td>
    <td>
      <%= f.text_field :organization_name %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end %>
