<% @page_header = 'XDS Registry' %>

<table id="dashboard">

  <tr>
    <th class="<%= sort_order_class('name') %>"><%= link_to_sort 'name', 'Template' %></th>
    <th><div>Created by</div></th>
    <th class="<%= sort_order_class('created_at') %>"><%= link_to_sort 'created_at', 'Created on' %></th>
    <th class="<%= sort_order_class('updated_at') %>"><%= link_to_sort 'updated_at', 'Last modified' %></th>
    <th><div>Actions</div></th>
  </tr>

  <% @patients.each do |patient| -%>
    <tr>
      <td><%= link_to h(patient.name), patient_url(patient) %></td>
      <td><%=h patient.user.first_name %> <%=h patient.user.last_name %></td>
      <td><%= patient.created_at %></td>
      <td><%= patient.updated_at %></td>
      <td class="actions" width=270px>
        <%= link_to 'query', "javascript:toggle_div('query_div_#{patient.id}')" %>
        | <%= link_to 'assign', test_setup_url(patient, 'xds provide and register') %>
        | <%= link_to 'provide and register', provide_and_register_xds_patient_url(patient) %>
        <div id="query_div_<%=patient.id%>" style="display:none">
          <% if patient.patient_identifiers.count > 0 %>
            <% form_tag test_setup_url(patient, 'xds query and retrieve') do |f| %>
              <%= select_tag "id", options_for_select(patient.patient_identifiers.collect{|pi|[pi.identifier_and_domain, pi.id]}) %>
              <%= submit_tag 'Query XDS' %>
            <% end %>
          <% else %>
             <p>
             No identifiers available
             </p>
           <% end %>
         </div>
       </td>
     </tr>
   <% end -%>
 </table>

