<thead>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Patient ID</th>
    <th>Age</th>
    <th>DOB</th>
    <th>Sex</th>
    {{#if isEpisodeOfCare}}<th># Encounters</th>{{/if}}
  </tr>
</thead>
{{#collection tag='tbody' item-context=patientContext}}
  <tr>
    <td>{{#link "patients/{{patient_id}}" expand-tokens=true}}{{last}}{{/link}}</td>
    <td>{{first}}</td>
    <td class="col-patient-medical-record-id" title="{{medical_record_id}}">{{mrn}}</td>
    <td>{{age}}</td>
    <td>{{formatted_birthdate}}</td>
    <td>{{gender}}</td>
    {{#if ../isEpisodeOfCare}}
      {{!EoC measures track number of encounters in the numerator}}
      <td>{{NUMER}}</td>
    {{/if}}
  </tr>
{{/collection}}
