<thead>
  <tr>
    <th class="pid">Patient ID</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Age</th>
    <th>DOB</th>
    <th>Sex</th>
    <th>Exclusion</th>
  </tr>
</thead>
{{#collection tag='tbody' item-context=patientContext}}
  <tr>
    <td>
      {{#link "patients/{{patient_id}}" expand-tokens=true}}{{medical_record_id}}{{/link}}
    </td>
    <td><strong>{{last}}</strong></td>
    <td>{{first}}</td>
    <td>{{age}}</td>
    <td>{{formatted_birthdate}}</td>
    <td>{{gender}}</td>
    <td>
      <button class="btn-default">Exclude</button>
    </td>
  </tr>
{{/collection}}
