<div class="left-sidebar">
  <button class="population-btn btn-primary">
    <span class="title">Initial Patient Population</span>
    <span class="query-result">{{ipp}}</span>
  </button>
  <button class="population-btn">
    <span class="title">Numerator</span>
    <span class="query-result">{{numerator}}</span>
  </button>
  <button class="population-btn">
    <span class="title">Denominator</span>
    <span class="query-result">{{denominator}}</span>
  </button>
  <button class="population-btn">
    <span class="title">Exclusions</span>
    <span class="query-result">{{exclusions}}</span>
  </button>
  <button class="population-btn">
    <span class="title">Exceptions</span>
    <span class="query-result">{{exceptions}}</span>
  </button>
  <button class="population-btn">
    <span class="title">Outliers</span>
    <span class="query-result">{{outliers}}</span>
  </button>
</div>
