<div class="left-sidebar">
  <h3>Populations</h3>
  <div class="panel-group" id="populationSelectors">
    <div class="panel panel-default">
      <div class="panel-heading population" id="NUMER">
        <h4 class="panel-title">
          Numerator - {{numerator}}
        </h4>  
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading population" id="DENOM">
        <h4 class="panel-title">
          Denominator - {{denominator}}
        </h4>  
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading population" id="antinumerator">
        <h4 class="panel-title">
          Outliers - {{outliers}}
        </h4>  
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading population" id="DENEX">
        <h4 class="panel-title">
          Exclusions - {{exclusions}}
        </h4>  
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading population" id="DENEXCEP">
        <h4 class="panel-title">
          Exceptions - {{exceptions}}
        </h4>  
      </div>
    </div>
  </div>
</div>
