<button class="population-btn{{#if isActive}} active{{/if}}" data-population="IPP">
  <span class="title">Initial Patient Pop.</span>
  <span class="query-result">{{ipp}}</span>
</button>
<button class="population-btn" data-population="NUMER">
  <span class="title">Numerator</span>
  <span class="query-result">{{numerator}}</span>
</button>
<button class="population-btn" data-population="DENOM">
  <span class="title">Denominator</span>
  <span class="query-result">{{denominator}}</span>
</button>
{{#if hasExclusions}}
<button class="population-btn" data-population="DENEX">
  <span class="title">Exclusions</span>
  <span class="query-result">{{exclusions}}</span>
</button>
{{/if}}
{{#if hasExceptions}}
<button class="population-btn" data-population="DENEXCEP">
  <span class="title">Exceptions</span>
  <span class="query-result">{{exceptions}}</span>
</button>
{{/if}}
{{#if hasOutliers}}
<button class="population-btn" data-population="antinumerator">
  <span class="title">Outliers</span>
  <span class="query-result">{{outliers}}</span>
</button>
{{/if}}
