<%= render partial: "shared/header" %>

<div class="container">
  <div class="register-body">
    <h1>Account Information</h1>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {name: "register_form", class: "registration"}) do |f| %>
    <div class="accountError">
      <%= devise_error_messages! %>
      <%= alert %>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <div class="input-group input-group-lg required">
          <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></span>
          <%= f.text_field :first_name, class: "form-control", placeholder: "first name*" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group input-group-lg required">
          <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></span>
          <%= f.text_field :last_name, class: "form-control", placeholder: "last name*" %>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <div class="input-group input-group-lg required">
          <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></span>
          <%= f.text_field :username, class: "form-control", placeholder: "username*" %>
        </div>
        <p class="help-block">Must be at least 3 characters long.</p>
      </div>
      <div class="col-md-6">
        <div class="input-group input-group-lg required">
          <span class="input-group-addon"><i class="fa fa-envelope fa-lg fa-fw"></i></span>
          <%= f.email_field :email, class: "form-control", placeholder: "email@example.com*" %>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></span>
          <%= f.text_field :company, class: "form-control", placeholder: "company" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-link fa-lg fa-fw"></i></span>
          <%= f.text_field :company_url, class: "form-control", placeholder: "www.company.com" %>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-h-square fa-lg fa-fw"></i></span>
          <%= f.text_field :registry_name, class: "form-control", placeholder: "registry name" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-archive fa-lg fa-fw"></i></span>
          <%= f.text_field :registry_id, class: "form-control", placeholder: "registry identifier" %>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-hospital-o fa-lg fa-fw"></i></span>
          <%= f.text_field :npi, class: "form-control", placeholder: "national provider id" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-folder fa-lg fa-fw"></i></span>
          <%= f.text_field :tin, class: "form-control", placeholder: "tax id number" %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i></span>
          <%= f.password_field :password, class: "form-control", placeholder: "password" %>
        </div>
        <p class="help-block">Leave blank if you don't wish to change.</p>
      </div>
      <div class="col-md-6">
        <div class="input-group input-group-lg hidden-toggle required">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i></span>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "confirm password*" %>
        </div>
      </div>
    </div>
    <div class="form-group row hidden-toggle" style="margin-top: 30px">
      <div class="col-md-6">
        <div class="input-group input-group-lg required">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i></span>
          <%= f.password_field :current_password, class: "form-control", placeholder: "current password*" %>
        </div>
        <p class="help-block">Please provide your old password.</p>
      </div>
    </div>

    <fieldset>
      <legend>Preferences</legend>
      <div class="input-group-lg form-group form-horizontal row">
        <div class="col-md-9">
          <label class="control-label"><i class="fa fa-square"></i> Mask the Personal Health Information (PHI)</label>
        </div>

        <div class="btn-group btn-group-md col-md-3" data-toggle="buttons">
          <%= f.fields_for :preferences do |t| %>
          <label class="btn btn-default col-md-6<%= ' active' if t.object.mask_phi_data %>">
            <%= t.radio_button :mask_phi_data, true, checked: t.object.mask_phi_data %> Yes
          </label>
          <label class="btn btn-default col-md-6<%= ' active' unless t.object.mask_phi_data %>">
            <%= t.radio_button :mask_phi_data, false, checked: !t.object.mask_phi_data %> No
          </label>
          <% end %>
        </div>
      </div>
      <div class="input-group-lg form-group form-horizontal row">
        <div class="col-md-9">
          <label class="control-label"><i class="fa fa-square"></i> Display Percentage Visuals on Measure Performance</label>
        </div>

        <div class="btn-group btn-group-md col-md-3" data-toggle="buttons">
          <%= f.fields_for :preferences do |t| %>
          <label class="btn btn-default col-md-6<%= ' active' if t.object.should_display_circle_visual %>">
            <%= t.radio_button :should_display_circle_visual, true, checked: t.object.should_display_circle_visual %> Yes
          </label>
          <label class="btn btn-default col-md-6<%= ' active' unless t.object.should_display_circle_visual %>">
            <%= t.radio_button :should_display_circle_visual, false, checked: !t.object.should_display_circle_visual %> No
          </label>
          <% end %>
        </div>
      </div>
      <div class="input-group-lg form-group form-horizontal row">
        <div class="col-md-9">
          <label class="control-label"><i class="fa fa-square"></i> Display Provider Tree on Dashboard</label>
        </div>
        <div class="btn-group btn-group-md col-md-3" data-toggle="buttons">
          <%= f.fields_for :preferences do |t| %>
          <label class="btn btn-default col-md-6<%= ' active' if t.object.should_display_provider_tree %>">
            <%= t.radio_button :should_display_provider_tree, true, checked: t.object.should_display_provider_tree %> Yes
          </label>
          <label class="btn btn-default col-md-6<%= ' active' unless t.object.should_display_provider_tree %>">
            <%= t.radio_button :should_display_provider_tree, false, checked: !t.object.should_display_provider_tree %> No
          </label>
          <% end %>
        </div>
      </div>    
    </fieldset>



    <hr>

    <div class="form-group row">
      <div class="col-md-6 col-md-offset-6">
        <div class="row">
        <div class="col-xs-6"><a class="btn btn-default btn-block btn-lg" href="/">Cancel</a></div>
        <div class="col-xs-6"><%= f.submit "Save", class: "btn btn-primary btn-block btn-lg" %></div>
      </div>
    </div>
    <% end -%>
  </div>
</div>

<script>
  $(function() {
    $('.hidden-toggle').hide();
    $('#user_password').on('keyup', function(e) {
      if($(this).val().length > 0) {
        $('.hidden-toggle').show();
      }
      else {
        $('.hidden-toggle').val('').hide();
      }
    });
  });
</script>
