<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td colspan="2" class="lighttext">Patient</td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Member ID</td>
    <td><% if insurance_provider_patient.member_id %><%=h insurance_provider_patient.member_id %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Coverage Date</td>
    <td><% if insurance_provider_patient.start_coverage_date %><%=h insurance_provider_patient.start_coverage_date %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Coverage Date</td>
    <td><% if insurance_provider_patient.end_coverage_date %><%=h insurance_provider_patient.end_coverage_date %><% end %></td>
  </tr>
  <%= render :partial => '/person_names/show', :locals => {:person_name => insurance_provider_patient.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Patient Birth Date</td>
    <td><% if insurance_provider_patient.date_of_birth %><%=h insurance_provider_patient.date_of_birth %><% end %></td>
  </tr>
  <%= render :partial => '/addresses/show', :locals => {:address => insurance_provider_patient.address}%>
  <%= render :partial => '/telecoms/show', :locals => {:telecom => insurance_provider_patient.telecom}%>
  <% if @patient.editable_by? current_user -%>
    <tr class="<%= cycle("darkzebra", "lightzebra")%>">
      <td></td>
      <td>
      <span>
        <%= link_to_remote('Edit', :update => "insurance_provider_patient#{insurance_provider_patient.id}",
                                   :url => edit_patient_insurance_provider_patient_path(patient, insurance_provider_patient),
                                   :method => 'get') unless insurance_provider_patient.new_record? %>
      </span> 
      </td>
    </tr>
  <% end -%>
</table>
