<div class="links">
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <p>
      <%= link_to new_password_path(resource_name) do %>
        <i class="fa fa-question-circle"></i>
        forgot password?
      <% end %>
    </p>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p>
      <%= link_to new_registration_path(resource_name) do %>
        <i class="fa fa-plus-circle"></i>
        register
      <% end %>
    </p>
  <% end -%>

  <%- if controller_name != 'sessions' %>
    <p>
      <%= link_to new_session_path(resource_name) do %>
        <i class="fa fa-plus-circle"></i>
        sign in
      <% end %>
    </p>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
    <% end -%>
  <% end -%>
</div>
 

<div class="links info">

    popHealth commit: <%= PopHealth::Application.config.commit %><br>
    last tag: <%= PopHealth::Application.config.tag %><br>
    bundle <%= (b = HealthDataStandards::CQM::Bundle.all.sort(:version => :desc).first) ? b.version : 'n/a' %><br>
    <a href="http://www.hhs.gov/healthit/">Office of the National Coordinator for Health Information Technology</a> |
    <a href="http://www.mitre.org" target="_blank">MITRE</a>
</div>
