<!-- Start Personal Information Module -->
<h5>Person Information (Required)</h5>
<table>
<% if registration_information %>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Document Timestamp</td>
    <td><%=h registration_information.document_timestamp %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Person Identifier</td>
    <td><%=h registration_information.person_identifier %></td>
  </tr>
  <%= render :partial => '/person_names/show', :locals => {:person_name => registration_information.person_name}%>
  <tr class="spacer"><td></td><td></td></tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Gender</td>
    <td><% if registration_information.gender %><%=h registration_information.gender.name %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Date of Birth</td>
    <td><% if registration_information.date_of_birth %><%=h registration_information.date_of_birth %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Marital Status</td>
    <td><% if registration_information.marital_status %><%=h registration_information.marital_status.name %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Religion</td>
    <td><% if registration_information.religion %><%=h registration_information.religion.name %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Race</td>
    <td><% if registration_information.race %><%=h registration_information.race.name %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Ethnicity</td>
    <td><% if registration_information.ethnicity %><%=h registration_information.ethnicity.name %><% end %></td>
  </tr>
  <%= render :partial => '/addresses/show', :locals => {:address => registration_information.address}%>
  <%= render :partial => '/telecoms/show', :locals => {:telecom => registration_information.telecom}%>
  <% if @patient.editable_by? current_user -%>
    <tr class="<%= cycle("darkzebra", "lightzebra")%>">
      <td></td>
      <td>
        <span>
          <%= link_to_remote 'Edit', :update => 'personInformationContainer',
                                     :url => edit_patient_registration_information_path(patient),
                                     :method => 'get' %>
        </span>
        <span>
          <%= link_to_remote 'Remove', :update => 'personInformationContainer',
                                       :url => patient_registration_information_path(patient),
                                       :confirm => 'Are you sure you wish to remove this registration information?',
                                       :method => 'delete' %>
        </span>
      </td>
    </tr>
  <% end -%>
<% else -%>
  <tr class="darkzebra">
    <td class="lighttext">There is no registration data for this test case</td>
    <td><%= link_to_remote 'Create some', :update => 'personInformationContainer',
                                          :url => new_patient_registration_information_path(patient), :method => 'get' %>
    </td>
  </tr>
<% end -%>
</table>
<!-- End Personal Information Module -->
