<script type="text/javascript">
  var popHealth = popHealth || {};

  popHealth.promoteUser = function() {
    var username = $(this).data("username");
    var role = $(this).data("role");
    var parentTd = $(this).parent();
    $.post('<%= admin_promote_path %>', {'username': username, 'role': role}, function(data) {
      parentTd.html(data);
      parentTd.find('.demote').click(popHealth.demoteUser);
    });
    return false;
  };

  popHealth.demoteUser = function() {
    var username = $(this).data("username");
    var role = $(this).data("role");
    var parentTd = $(this).parent();

    if (username == '<%= current_user.username %>') {
      var response = confirm('You are about to remove admin rights from the currently logged in user' 
      +', this will cause you to immediately lose access to all admin functionality including this page.  ' 
      +'You will need to use another admin account to restore admin rights.  Are you sure you want to continue?');
      if (!response) return;
    }

    $.post('<%= admin_demote_path %>', {'username': username, 'role': role}, function(data) {
      parentTd.html(data);
      parentTd.find('.promote').click(popHealth.promoteUser);
    });
    return false;
  };

  popHealth.approveUser = function() {
    var username = $(this).data("username");
    var parentTd = $(this).parent();
    $.post('<%= admin_approve_path %>', {'username': username}, function(data) {
      parentTd.html(data);
    });
  };

  popHealth.disableUser = function() {
    var username = $(this).data("username");
    var parentTd = $(this).parent();

    if (username == '<%= current_user.username %>') {
      var response = confirm('You are about to disable the currently logged in user' 
      +', this will cause you to immediately lose access and be logged out.  Are you sure you want to continue?');
      if (!response) return;
    }

    popHealth.disableEnableUser(1, username, parentTd)
  };
  popHealth.enableUser = function() {
    var username = $(this).data("username");
    var parentTd = $(this).parent();
    popHealth.disableEnableUser(0, username, parentTd)
  };
  popHealth.disableEnableUser = function(disabled, username, parentTd) {
    $.post('<%= admin_disable_path %>', {'username': username, 'disabled': disabled}, function(data) {
      parentTd.html(data);
      if (disabled == 1) parentTd.find('.disable').click(popHealth.enableUser);
      else parentTd.find('.enable').click(popHealth.disableUser);
    });
  };
  popHealth.changeNpi = function() {
    var username = $(this).data("username");
    var npi = $(this).val();
    $.post('<%= admin_update_npi_path %>', {'username': username, 'npi': npi}, function(data) {
    });
    
  };
  
  popHealth.changePractice = function() {
    var userId = $(this).data("user");
    var practice = $(this).val();
    var confs = "Change user's assigned practice?";   
    if ( confirm(confs) == true ){
      $.post('set_user_practice', {'user': userId, 'practice': practice}, function(d){
      }); 
    };
  };
  
  popHealth.changePracticeProvider = function() {
    var userId = $(this).data("user");
    var provider = $(this).val();
    var confs = "Change user's assigned provider?";   
    if ( confirm(confs) == true ){
      $.post('set_user_practice_provider', {'user': userId, 'provider': provider}, function(d){
      }); 
    };
  };

  $(document).ready(function() {
    $('.promote').click(popHealth.promoteUser);
    $('.demote').click(popHealth.demoteUser);
    $('.approve').click(popHealth.approveUser);
    $('.enable').click(popHealth.disableUser);
    $('.disable').click(popHealth.enableUser);
    $('.npi_select').change(popHealth.changeNpi);
    $('.practice_select').change(popHealth.changePractice);
    $('.practice_provider_select').change(popHealth.changePracticeProvider);
  });
</script>

<div id="pageContent">
<%= if !APP_CONFIG['use_opml_structure'] then link_to "Edit Practices", practices_path, :class => "btn btn-large btn-success pull-right practice-btn" end %>

<h1>Users</h1>
<table id="patientTable" class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <% if APP_CONFIG['use_opml_structure'] %>
      <th>Provider</th>
      <% else %>
      <th>Practice</th>
      <th>Provider</th>
      <% end %>
      <th>Administrator</th>
      <th>Staff Role</th>
      <th>Approved</th>
      <th>Status</th>
      <th colspan="2"/>
    </tr>
  </thead>
  <% @users.each do |user| -%>
  <tbody>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.username %></td>

    <% if APP_CONFIG['use_opml_structure'] %>
    <td>
      <select class="npi_select" data-username="<%= user.username %>" name="user[npi]">
        <option value="-1">&nbsp;</option>
        <% Provider.all.alphabetical.each do |provider| %>
          <option value="<%= provider.npi %>" <%= (user.npi == provider.npi) ? "selected=\"selected\"" : ""%>><%= provider.full_name %> </option>
        <% end%>
      </select>
    </td>
    <% else %>
      <td> 
        <% if Provider.valid_npi?(user.npi) %>
          N/A
        <% else %>
        <%= select_tag "practice", options_for_select(@practices, user.practice_id), prompt: 'None', data: {user: user.id.to_s}, class: 'practice_select'%> 
        <% end %>
      </td>
      

      <td> 
        <% if Provider.valid_npi?(user.npi) %>
        <% @practice_pvs = Provider.by_npi(user.npi).map {|pv| if pv.try(:parent).try(:practice) then [pv.parent.practice.name + " - " + pv.full_name, pv.id] end}%>
        <%= select_tag "practice_provider_select", options_for_select(@practice_pvs, user.provider_id), prompt: 'None', data: {user: user.id.to_s}, class: 'practice_provider_select'%> 
        <% else %>
          N/A
        <% end %>
      </td>

    <% end %>
    <td>
      <% if Provider.valid_npi?(user.npi) || user.staff_role %>
        N/A
      <% else %>
        <% if user.admin? -%>
        Yes - <a href="#" class="demote" data-role="admin" data-username="<%= user.username %>">revoke</a>
        <% else -%>
        No - <a href="#" class="promote" data-role="admin" data-username="<%= user.username %>">grant</a>
        <% end -%>
      <% end %>
    </td>
    <td>
      <% if Provider.valid_npi?(user.npi) %>
        N/A
      <% else %>
        <% if user.staff_role? -%>
        Yes - <a href="#" class="demote" data-role="staff_role" data-username="<%= user.username %>">revoke</a>
        <% else -%>
        No - <a href="#" class="promote" data-role="staff_role" data-username="<%= user.username %>">grant</a>
        <% end -%>
      <% end %>
    </td>
    <td>
      <% if user.approved? -%>
      true
      <% else -%>
      <a href="#" class="approve" data-username="<%= user.username %>">approve</a>
      <% end -%>
    </td>
    <td>
      <a href="#" class="<%= (user.disabled?) ? 'disable' : 'enable'%>" data-username="<%= user.username %>"><%= (user.disabled?) ? 'disabled' : 'enabled'%></a>
    </td>
    <td>
      <%= link_to "View Info",{:controller => "admin", :action => "user_profile", :id => user._id}, :class => "btn btn-info"%>    
      <%= link_to "Delete User", {:controller => "admin", :action => "delete_user", :id => user._id}, 'method' => 'delete', 'class' => 'btn btn-danger delete-user-btn', data: {'confirm' => "Are you sure you want to delete this user?"} %>    			  
    </td>
  </tr>
  </tbody>
  <% end -%>
</table>
</div> <!-- pageContent -->
