<div id="dashboardContainer">
<!-- add a comment -->
  <div id="header">
    <div id="breadcrumbBox">
      <ul id="breadcrumbItems">
      <li>logs</li>
      </ul>
      <%= render :partial => 'layouts/top_nav' %>
    </div><!-- end #breadcrumbBox -->
  </div><!-- end #header -->
  <div id="pageContent">
    <h1>Users</h1>
    <table id="patientTable">
      <% @users.each do |user| -%>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.username %></td>
        <td><%= user.admin %></td>
      </tr>
      <% end -%>
    </table>
  </div>
</div>
