<% content_for :head do -%>
<script type="text/javascript">
  var popHealth = popHealth || {};

  popHealth.promoteUser = function() {
    var username = $(this).data("username");
    var role = $(this).data("role");
    var parentTd = $(this).parent();
    $.post('<%= admin_promote_path %>', {'username': username, 'role': role}, function(data) {
      parentTd.html(data);
      parentTd.find('.demote').click(popHealth.demoteUser);
    });
    return false;
  };

  popHealth.demoteUser = function() {
    var username = $(this).data("username");
    var role = $(this).data("role");
    var parentTd = $(this).parent();

    if (username == '<%= current_user.username %>') {
      var response = confirm('You are about to remove admin rights from the currently logged in user' 
      +', this will cause you to immediately lose access to all admin functionality including this page.  ' 
      +'You will need to use another admin account to restore admin rights.  Are you sure you want to continue?');
      if (!response) return;
    }

    $.post('<%= admin_demote_path %>', {'username': username, 'role': role}, function(data) {
      parentTd.html(data);
      parentTd.find('.promote').click(popHealth.promoteUser);
    });
    return false;
  };

  popHealth.approveUser = function() {
    var username = $(this).data("username");
    var parentTd = $(this).parent();
    $.post('<%= admin_approve_path %>', {'username': username}, function(data) {
      parentTd.html(data);
    });
  };

  popHealth.disableUser = function() {
    var username = $(this).data("username");
    var parentTd = $(this).parent();

    if (username == '<%= current_user.username %>') {
      var response = confirm('You are about to disable the currently logged in user' 
      +', this will cause you to immediately lose access and be logged out.  Are you sure you want to continue?');
      if (!response) return;
    }

    popHealth.disableEnableUser(1, username, parentTd)
  };
  popHealth.enableUser = function() {
    var username = $(this).data("username");
    var parentTd = $(this).parent();
    popHealth.disableEnableUser(0, username, parentTd)
  };
  popHealth.disableEnableUser = function(disabled, username, parentTd) {
    $.post('<%= admin_disable_path %>', {'username': username, 'disabled': disabled}, function(data) {
      parentTd.html(data);
      if (disabled == 1) parentTd.find('.disable').click(popHealth.enableUser);
      else parentTd.find('.enable').click(popHealth.disableUser);
    });
  };
  popHealth.changeNpi = function() {
    var username = $(this).data("username");
    var npi = $(this).val();
    $.post('<%= admin_update_npi_path %>', {'username': username, 'npi': npi}, function(data) {
    });
    
  };

  $(document).ready(function() {
    $('.promote').click(popHealth.promoteUser);
    $('.demote').click(popHealth.demoteUser);
    $('.approve').click(popHealth.approveUser);
    $('.enable').click(popHealth.disableUser);
    $('.disable').click(popHealth.enableUser);
    $('.npi_select').change(popHealth.changeNpi);
  
	<%# added from bstrezze %>
	$('.teamView').cluetip({
		activation: 'click',
		arrows: true,
		closePosition: 'title',
		closeText: 'Close',
		dropShadow: false,
		local: true,
		sticky: true
	});
  });
</script>
<% end -%>

<hr style='margin-bottom:-5px'>
	<div style="padding-left:40px; padding-right:40px">
		<table class="table-condensed" style="width:100%">
			<td> <h2><strong>Users</strong></h2> </td>
			<td colspan='2' align='right'>	
				<%= link_to "Refresh Tables", "users", class: "btn btn-large btn-primary", :style => "float:right" %>
			</td>
		</table>
	</div>
<hr style="margin-top:-5px">

<div id="pageContent" style="margin-left:40px; margin-right:50px; margin-top:20px">
	
	<% if flash[:notice] %>
		<font color="red"> <b> <%= flash[:notice] %> </b> </font>
		<br> </br>
	<% end %>
	
	<h5> Click on one of the tabs to view list of users: </h5>

	<div class="dropdown">
    <a class="dropdown-toggle btn btn-large btn-danger span3" data-toggle="dropdown" href="#">
   	 Admin (<%= User.where(:admin => "true").count%>)
    </a>
    <ul class="dropdown-menu" role="menu" style="width:100%; margin-top:50px">
      	<%= render partial: 'user_list', :locals => {:users => User.where(:admin => "true")} %>
    </ul>
	</div> 	
	
	<div class="dropdown">
    <a class="dropdown-toggle btn btn-large btn-info span3" data-toggle="dropdown" href="#">
   	 Providers (<%= User.where(:provider => "true", :approved =>"true").count%>)
    </a>
    <ul class="dropdown-menu" role="menu" style="width:100%; margin-top:50px">
      	<%= render partial: 'user_list', :locals => {:users => User.where(:provider => "true", :approved =>"true")} %>
    </ul>
	</div> 	
	
	<div class="dropdown">
    <a class="dropdown-toggle btn btn-large btn-success span3" data-toggle="dropdown" href="#">
   	 Staff (<%= User.where(:staff_role => "true").count%>)
    </a>
    <ul class="dropdown-menu" role="menu" style="width:100%; margin-top:50px">
      	<%= render partial: 'user_list', :locals => {:users => User.where(:staff_role => "true")} %>
    </ul>
	</div> 	
	
	<div class="dropdown">
    <a class="dropdown-toggle btn btn-large btn-warning span2" data-toggle="dropdown" href="#">
   	 Pending (<%= User.where(:approved=>'false').count%>)
    </a>
    <ul class="dropdown-menu" role="menu" style="width:100%; margin-top:50px">
      	<%= render partial: 'user_list', :locals => {:users => User.where(:approved => "false")} %>
    </ul>
	</div> 	
	
	<div class="dropdown">
    <a class="dropdown-toggle btn btn-large span2" data-toggle="dropdown" href="#">
   	 All (<%= User.all.count%>)
    </a>
    <ul class="dropdown-menu" role="menu" style="width:100%; margin-top:50px">
      	<%= render partial: 'user_list', :locals => {:users => User.all} %>
    </ul>
	</div> 	
	


</div> <!-- pageContent -->
