<div class="sidebar" id="measureSummary">
  {{view queryView}}
</div>
<div class="main">
  <dl class="dl-horizontal">
    <dt>Measure Name:</dt>
    <dd>{{name}}</dd>
    <dt>Reporting Period:</dt>
    <dd>mm/dd/yyyy &ndash; mm/dd/yyyy</dd>
    <dt>Description:</dt>
    <dd>{{description}}</dd>
  </dl>
  <ul class="nav nav-tabs">
    <li{{#if logicIsActive}} class="active"{{/if}}>{{#link "measures/{{id}}" expand-tokens=true tag="a" data-toggle="tab" data-target="#logic"}}Measure{{/link}}</li>
    <li{{#if patientResultsIsActive}} class="active"{{/if}}>{{#link "measures/{{id}}/patient_results" expand-tokens=true tag="a" data-toggle="tab" data-target="#patient_results"}}Patients{{/link}}</li>
  </ul>
  {{layout-element}}
</div>
