<% parent.fields_for :telecom do |telecom_form| -%>
<tr class="lightzebra">
  <td class="lighttext">Home Phone <%= requirements_for(telecom, :home_phone) %></td>
  <td><%= telecom_form.text_field :home_phone %></td>
</tr>
<tr class="darkzebra">
  <td class="lighttext">Work Phone <%= requirements_for(telecom, :work_phone) %></td>
  <td><%= telecom_form.text_field :work_phone %></td>
</tr>
<tr class="lightzebra">
  <td class="lighttext">Mobile Phone <%= requirements_for(telecom, :mobile_phone) %></td>
  <td><%= telecom_form.text_field :mobile_phone %></td>
</tr>
<tr class="darkzebra">
  <td class="lighttext">Vacation Home Phone <%= requirements_for(telecom, :vacation_home_phone) %></td>
  <td><%= telecom_form.text_field :vacation_home_phone %></td>
</tr>
<tr class="lightzebra">
  <td class="lighttext">Email <%= requirements_for(telecom, :email) %></td>
  <td><%= telecom_form.text_field :email %></td>
</tr>
<tr class="darkzebra">
  <td class="lighttext">URL <%= requirements_for(telecom, :url) %></td>
  <td><%= telecom_form.text_field :url %></td>
</tr>
<% end -%>
