<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Home Phone</td>
  <td><%=h telecom.home_phone %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Work Phone</td>
  <td><%=h telecom.work_phone %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Mobile Phone</td>
  <td><%=h telecom.mobile_phone %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Vacation Home Phone</td>
  <td><%=h telecom.vacation_home_phone %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Email</td>
  <td><%=h telecom.email %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">URL</td>
  <td><%=h telecom.url %></td>
</tr>