<table>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Language</td>
  <td><% if language.iso_language %><%=h language.iso_language.name %><% end %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Country</td>
  <td><% if language.iso_country %><%=h language.iso_country.name %><% end %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Mode</td>
  <td><% if language.language_ability_mode %><%= h language.language_ability_mode.name %><% end %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Preferred</td>
  <td><%= h language.preference %></td>
</tr>
<% if @patient.editable_by? current_user -%>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td></td>
  <td>
  <span>
    <%= link_to_remote 'Edit', :update => "language#{language.id}",
                               :url => edit_patient_language_path(patient, language),
                               :method => 'get' %>
    </span> 
    
   <span>
    <%= link_to_remote 'Remove', :update => "language#{language.id}",
                               :url => patient_language_path(patient, language),
                               :confirm => 'Are you sure you wish to remove this language?',
                               :method => 'delete' %>
    </span> 
  </td>
</tr>
<% end -%>
</table>
