<% if @language.new_record?
     language_div = 'languageNew' -%>
<div id="languageNew">
<% else
     language_div = "language#{@language.id}"
   end %>
   <% remote_form_for([@patient, @language], :update => language_div) do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Language <%= requirements_for @language, :iso_language_id %></td>
    <td>
      <%= f.select :iso_language_id, IsoLanguage.select_options %>       
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Country <%= requirements_for @language, :iso_country_id %></td>
    <td>
      <%= f.select :iso_country_id, IsoCountry.select_options, :include_blank => true %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Mode <%= requirements_for @language, :language_ability_mode_id %></td>
    <td>
      <%= f.select :language_ability_mode_id, LanguageAbilityMode.select_options, {:include_blank => true} %>       
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Preference <%= requirements_for @language, :preference %></td>
    <td>
      <%= f.check_box :preference %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td>
      <%= f.submit "Save" %>
    </td>
  </tr>
</table>                         
<% end -%>
<% if @language.new_record? -%>
</div>
<% end -%>
