<div class="modal fade" id="editMeasureDialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog"  role="dialog" aria-labelledby="modalTitle">
    <div class="modal-content">
      <div class="modal-header">
        {{#button "close" class="close" data-dismiss="modal" aria-hidden="true"}}&times;{{/button}}
        <h4 class="modal-title" id="modalTitle">Edit Measure {{cms_id}}</h4>
      </div>
      <div class="modal-body">
        <form id="edit_measure_form" action="api/measures/update_metadata" method="put" class="form-horizontal" enctype="multipart/form-data" role="form">
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓">
            <input name="_method" type="hidden" value="post">
            <input name="authenticity_token" type="hidden" value="{{token}}">
            <input name="hqmf_id" type="hidden" value="{{hqmf_id}}">
            <input id="lower_is_better" name="measure[lower_is_better]" type="hidden" value="{{lower_is_better}}">
            <input id="measure_category" name="measure[category]" type="hidden" value="{{category}}">
          </div>
          <!-- div class="form-group">
            <label for="measureTypeRadios" class="col-lg-{{titleSize}} control-label">Measure Type:</label>
              <div class="col-lg-{{dataSize}}">
                <div class="radio">
                  <label>
                    <input id="measureTypeRadios" type="radio" name="measure_type" value="ep" checked="true"> Eligible Professional (EP)
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="measure_type" value="eh"> Eligible Hospital (EH)
                  </label>
                </div>
              </div>
          </div -->
          <div class="form-group">
            <label for="measureResultMeaningSelect" class="control-label">Measure Goal:</label>
              <div class="col-lg-12">
                <select class="form-control" name="lower_is_better" id="measureResultMeaningSelect">
                  {{#if lowerIsNotSet}}
                    <option id="neither_is_better_dd" value="" selected>Neither is better</option>
                    <option id="lower_is_better_dd" value="true">Lower is better</option>
                    <option id="higher_is_better_dd" value="false">Higher is better</option>
                  {{else}}
                    <option id="neither_is_better_dd" value="">Neither is better</option>
                    <option id="lower_is_better_dd" value="true" {{#if lower_is_better}}selected {{/if}}>Lower is better</option>
                    <option id="higher_is_better_dd" value="false" {{#if higher_is_better}}selected {{/if}}>Higher is better</option>
                  {{/if}}
                </select>
              </div>
          </div>

          <div class="form-group">
            <label for="measureCategorySelect" class="control-label">Category:</label>
            <div class="col-lg-12">
              {{#collection categories tag="select" class="form-control" name="category" id="measureCategorySelect" item-context="categoryContext"}}
                {{#if first}}
                  <optgroup label="New Category">
                    <option value="New" id="newCategoryOption">New</option>
                  </optgroup>
                {{/if}}
                <option value="{{category}}" {{#if selected}}selected{{/if}}>{{category}}</option>
              {{/collection}}
            </div>
            <div class="col-lg-12">
              <input type="text" id="newMeasureCategoryInput" name="new_category" class="form-control" placeholder="enter new category">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        {{#button "close" class="btn btn-default" data-dismiss="modal"}}Close{{/button}}
        {{#button "submit" class="btn btn-primary" id="loadButton" }}Save{{/button}}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle modalInstructions" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 id="modalTitle">Loading Measure...</h1>
        <span class="sr-only" id="modalInstructions">This dialog will dismiss automatically once processing is complete.</span>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
