<table>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Product Coded Display Name</td>
  <td><%= h medication.product_coded_display_name %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Product Code</td>
  <td><%= h medication.product_code %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Code System Name</td>
  <td><% if medication.code_system %><%=h medication.code_system.name %><% end %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Free Text Brand Name</td>
  <td><%=h medication.free_text_brand_name %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Medication Type</td>
  <td><% if medication.medication_type %><%=h medication.medication_type.name %><% end %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Status</td>
  <td><%=h medication.status %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Quantity Ordered Value</td>
  <td><%=h medication.quantity_ordered_value %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Quantity Ordered Unit</td>
  <td><%=h medication.quantity_ordered_unit %></td>
</tr>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Expiration Date</td>
  <td><% if medication.expiration_time %><%= medication.expiration_time %><% end %></td>
</tr>
<% if @patient.editable_by? current_user -%>
<tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td></td>
  <td>
    <span>
    <%= link_to_remote 'Edit', :update => "medication#{medication.id}",
                               :url => edit_patient_medication_path(patient, medication),
                               :method => 'get' %>
    </span>
    <span>
     <%= link_to_remote 'Remove', :update => "medication#{medication.id}",
                               :url => patient_medication_path(patient, medication),
                               :confirm=>"Are you sure you wish to remove this medication?",
                               :method => 'delete' %>
    </span>                           
  </td>
</tr>
<% end -%>
</table>
