<% if @medication.new_record?
     medication_div = 'medicationNew' -%>
<div id="medicationNew">
<% else
     medication_div = "medication#{@medication.id}"
   end %>
<% remote_form_for([@patient, @medication], :update => medication_div) do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Product Coded Display Name <%= requirements_for @medication, :product_coded_display_name %></td>
    <td><%= f.text_field :product_coded_display_name %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Product Code <%= requirements_for @medication, :product_code %></td>
    <td><%= f.text_field :product_code %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Code System <%= requirements_for @medication, :code_system_id %></td>
    <td>
      <%= f.select :code_system_id, CodeSystem.medication_select_options, {:include_blank => true} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Free Text Brand Name <%= requirements_for @medication, :free_text_brand_name %></td>
    <td><%= f.text_field :free_text_brand_name %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Medication Type <%= requirements_for @medication, :medication_type_id %></td>
    <td>
      <%= f.select :medication_type_id, MedicationType.select_options, {:include_blank => true} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Status <%= requirements_for @medication, :status %></td>
    <td><%= f.text_field :status %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Quantity Ordered Value <%= requirements_for @medication, :quantity_ordered_value %></td>
    <td><%= f.text_field :quantity_ordered_value %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Quantity Ordered Unit <%= requirements_for @medication, :quantity_ordered_unit %></td>
    <td><%= f.text_field :quantity_ordered_unit %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Expiration Date <%= requirements_for @medication, :expiration_date %></td>
    <td><%= f.calendar_date_select :expiration_time %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end -%>
<% if @medication.new_record? -%>
</div>
<% end -%>
