<h2>{{title}}. {{given_name}} {{family_name}}</h2>

<h4>{{specialty}}</h4>
<h4>{{organization.name}}</h4>
<br>

<dl>
  <dt>NPI:</dt>
  <dd>{{npi}}</dd>
  <dt>Tax ID:</dt>
  <dd>{{tin}}</dd>
  <dt>Phone:</dt>
  <dd>{{phone}}</dd>
  <dt>Team:</dt>
  <dd>{{team.name}}</dd>
</dl>