<script type="text/javascript">		
  $(document).ready(function(){
    $('.effective-date-picker').datepicker({orientation: "top right", format: "m/d/yyyy"});
    $(".effective-date-picker").val(PopHealth.currentUser.effectiveDateString(true));
  });
</script>

<div class="effective-date pull-right row-inline">
  <h5 class='effective-date-header'><b> Reporting Period:</b> {{startDate}} &mdash; <input type="text" class="effective-date-picker" placeholder='mm/dd/yyyy' /> <button class="effective-date-btn btn-primary"> <i class="glyphicon glyphicon-refresh"/></button>
  </h5>
</div> 
<h2>{{providerType}}: {{providerExtension}}, {{title}} {{given_name}} {{family_name}}</h2>
<h2># of Patients: {{formatNumeral patient_count "0,0"}} </dd> </h2>

<h4>{{specialty}}</h4>
<h4>{{organization.name}}</h4>
<br>

<div class="row">
  <div class="col-md-9" id="providerChart"></div>
</div>

<div class="row">{{view dashboardView}}</div>
