<script type="text/javascript">		
  $(document).ready(function(){
    $('.effective-date-picker').datepicker({orientation: "top right", format: "m/d/yyyy"});
    $(".effective-date-picker").val(PopHealth.currentUser.effectiveDateString(true));
  });
</script>

<div class="effective-date pull-right row-inline">
  <h5 class='effective-date-header'><b> Reporting Period:</b> {{startDate}} &mdash; <input type="text" class="effective-date-picker" placeholder='mm/dd/yyyy' /> <button class="effective-date-btn btn-primary"> <i class="glyphicon glyphicon-refresh"/></button>
  </h5>
</div> 
<h2>{{providerType}}: {{providerExtension}}, {{title}} {{given_name}} {{family_name}}</h2>
<h2># of Patients: {{patient_count}} </dd> </h2>

<h4>{{specialty}}</h4>
<h4>{{organization.name}}</h4>
<br>

<div class="row">
<div class="col-md-3">
	<dl class="dl-horizontal">
	  <dt>Tax ID:</dt>
  	{{#if tin}}
      <dd>{{tin}}</dd>
    {{else}}
      <dd>N/A</dd>
    {{/if}}
	  <dt>Phone:</dt>
	  {{#if phone}}
      <dd>{{phone}}</dd>
    {{else}}
      <dd>N/A</dd>
    {{/if}}
	  <dt class="text-muted">Team:</dt>
    {{#if teamn.name}}
  	  <dd class="text-muted">{{team.name}}</dd>
    {{else}}
      <dd class="text-muted">N/A</dd>
    {{/if}}
    <dt class="text-muted">NPI:</dt>
    {{#if npi}}
      <dd class="text-muted">{{npi}}</dd>
    {{else}}
      <dd class="text-muted">N/A</dd>
    {{/if}}
	</dl>
</div>
<div class="col-md-9" id="providerChart"></div>
</div>

<div class="row">{{view dashboardView}}</div>
