<% if @medical_equipment.new_record?
  medical_equipment_div = 'medicalEquipmentNew'  -%>
<div id="medicalEquipmentNew">
<% else
     medical_equipment_div = "medical_equipment#{@medical_equipment.id}"
   end %>
<% remote_form_for([@patient, @medical_equipment], :update => medical_equipment_div) do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Name</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Code</td>
    <td>
      <%= f.text_field :code %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Supply ID</td>
    <td>
      <%= f.text_field :supply_id %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Date Supplied</td>
    <td>
      <%= f.calendar_date_select :date_supplied %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end %>
