<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Encounter Date</td>
    <td><%=h encounter.encounter_date %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Encounter ID</td>
    <td><%=h encounter.encounter_id %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Free Text</td>
    <td><%=h encounter.free_text %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Encounter Name</td>
    <td><%=h encounter.name %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Encounter Type</td>
    <td><% if encounter.encounter_type %><%=h encounter.encounter_type.name %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td colspan="2" class="lighttext">Encounter Provider</td>
  </tr>
  <%= render :partial => '/person_names/show', :locals => {:person_name => encounter.person_name}%>
  <%= render :partial => '/addresses/show', :locals => {:address => encounter.address}%>
  <%= render :partial => '/telecoms/show', :locals => {:telecom => encounter.telecom}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Location Name</td>
    <td><%=h encounter.location_name %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Location Code</td>
    <td><% if encounter.encounter_location_code %><%=h encounter.encounter_location_code.name %><% end %></td>
  </tr>
  <% if @patient.editable_by? current_user -%>
    <tr class="<%= cycle("darkzebra", "lightzebra")%>">
      <td></td>
      <td>
      <span>
      <%= link_to_remote 'Edit', :update => "encounter#{encounter.id}",
                                 :url => edit_patient_encounter_path(patient, encounter),
                                 :method => 'get' %>
      </span>
      <span>
       <%= link_to_remote 'Remove', :update => "encounter#{encounter.id}",
                                 :url => patient_encounter_path(patient, encounter),
                                 :confirm=>"Are you sure you wish to remove this encounter?",
                                 :method => 'delete' %>
      </span>                           
      </td>
    </tr>
  <% end -%>
</table>
