<div>Name: {{first}} {{last}}</div>
<div>Effective Date: {{formatted_effective_time}}</div>
<div>DOB: {{formatted_birthdate}}</div>
<div>Sex: {{gender}}</div>
<div>Race: {{race}}</div>
<div>Ethnicity: {{ethnicity}}</div>
<div>Languages: {{languages}}</div>
<div>Record Number: {{medical_record_number}}</div>
