<div class="patient">
  <div class="col-measure-info">
    <h1><i class="fa fa-tasks"></i> Measures</h1>
    <div class="panel-group" id="measures">
      {{#collection measures}}
      <div class="panel panel-default">
        <div class="panel-heading">
            <a class="measure-title" {{#if submeasures}}data-toggle="collapse" data-parent="#measures" href="#m{{id}}"{{else}}href="#measures/{{id}}/patient_results"{{/if}}>
              {{#if submeasures}}<div class="submeasure-expander"><i class="fa fa-plus-square-o"></i></div>{{/if}}
              {{title}}
            </a>
        </div>
        {{#if submeasures}}
        <div id="m{{id}}" class="panel-collapse collapse">
          <div class="panel-body">
            {{#collection submeasures}}
            <a href="#measures/{{../id}}/{{id}}/patient_results" class="btn btn-measure btn-default">
              {{subtitle}}
            </a>
            {{/collection}}
          </div>
        </div>
        {{/if}}
      </div>
      {{/collection}}
    </div>


    {{!--
    {{#collection measure_results}}
      <a href="#measures/{{measure_id}}{{#if sub_id}}/{{sub_id}}{{/if}}" class="btn btn-measure btn-default">
        {{measure_title}}{{#if measure_subtitle}}: {{measure_subtitle}}{{/if}}
      </a>
    {{/collection}}
    --}}
  </div>

  <div class="col-patient-info">
    <h1 class="patient-heading"><i class="fa fa-user"></i> {{first}} {{last}}</h1>
    <div class="timeline-entry">
      <div class="patient-data-list">
        <dl class="dl-horizontal">
          <dt>RECORD NUMBER</dt>
          <dd>{{medical_record_number}}</dd>
          <dt>DOB</dt>
          <dd>{{birthdate}}</dd>
          <dt>GENDER</dt>
          <dd>{{gender}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>RACE</dt>
          <dd>{{race}}</dd>
          <dt>ETHNICITY</dt>
          <dd>{{ethnicity}}</dd>
          <dt>LANGUAGES</dt>
          <dd>{{languages}}</dd>
          <dt>PROVIDERS</dt>
          <dd>Jonathan Cooper MD</dd>
        </dl>
      </div>
    </div>

    <header class="timeline-entry"><h2>Patient History Relative to Measures</h2></header>

    {{!--
      The following section can be added back in after filtering is added and
      we have the ability to determine the cause of a patient being an outlier.
    --}}
    {{!--     <div class="record-listing ">
      <div class="circle-icon active-icon">
        <i class="fa fa-question"></i>
      </div>
      <div class="patient-data active">
        <dl class="dl-record dl-horizontal">
          <dt>MISSING</dt>
          <dd>Medication ordered
          </dd>
        </dl>
        <dl class="dl-date dl-horizontal">
          <dt>DATE </dt>
          <dd>12-2-2012 - 12-2-2012
          </dd>
        </dl>
      </div>
    </div> --}}
    {{#collection entries item-view="EntryView"}}
      <div class="timeline-entry">
        <div class="circle-icon"><i class="fa fa-{{icon}}"></i></div>
        <div class="patient-data">
          <div class="patient-data-list">
            <dl class="dl-horizontal">
              <dt>{{entry_type}}</dt>
              <dd>
                {{#if description}}
                  <div>{{description}}</div>
                {{else}}
                  <div class="text-muted">No Details Available</div>
                {{/if}}
                {{#if values}}
                  <div>
                  {{#join values delimiter=', '}}
                    {{#if description}}{{description}}{{else}}{{scalar}} {{units}}{{/if}}
                  {{/join}}
                  </div>
                {{/if}}
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>date</dt>
              <dd>{{start_time}}{{#if end_time}} &ndash; {{end_time}}{{/if}}</dd>
            </dl>
          </div>
        </div>
      </div>
    {{/collection}}
  </div>
</div>
