<% @page_header = 'XDS Utility' %>

<table id="dashboard">

  	<tr>
    <th class="<%= sort_order_class('name') %>"><%= link_to_sort 'name', 'Template' %></th>
    <th><div>Created by</div></th>
	<th class="<%= sort_order_class('created_at') %>"><%= link_to_sort 'created_at', 'Created on' %></th>
    <th class="<%= sort_order_class('updated_at') %>"><%= link_to_sort 'updated_at', 'Last modified' %></th>
    <th><div>XDS ID</div></th>
    <th><div>Documents</div></th>
  </tr>

  <% @patients.each do |xds_patient| -%>
    <tr>
	  <% if !xds_patient.patient.nil? %>
		  <td><%= link_to h(xds_patient.patient.name), patient_url(xds_patient.patient) %></td>
	      <td><%=h xds_patient.patient.user.first_name %> <%=h xds_patient.patient.user.last_name %></td>
	      <td><%= xds_patient.patient.created_at %></td>
	      <td><%= xds_patient.patient.updated_at %></td>
	  <% else %>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	  <% end %>
	
		
      <td><%= xds_patient.id %></td>
 	  <td class="actions">
        <% if xds_patient.documents.empty? %>
			no documents associated with this record
		<% else %>
			<%= link_to 'show documents', "javascript:toggle_div('document_div_#{xds_patient.id}')" %>
		<% end %>
        <div id="document_div_<%=xds_patient.id%>" style="display:none">
        	<% if !xds_patient.patient.nil? %>
			 	<% form_tag test_setup_url(xds_patient.patient, 'xds query and retrieve') do |f| %>
		              <%= select_tag "id", options_for_select( xds_patient.documents ) %>
		              <%= submit_tag 'Query XDS' %>
		         <% end %>
			 <% else %>
				Can't find a patient template for this document.
			<% end %>
         </div>
       </td>
      
     </tr>
   <% end -%>
 </table>

