<div id="managePatients">
	
	<h2>Unassigned Patients 	<%= submit_tag "Save", style: "float:right" %></h2>
	<span id="unassigned">
		<%= form_tag update_all_provider_patients_path(@provider), {method: 'put'} do %>
		<div>
			<%= render partial: 'unassigned', param_name: 'unassigned_page' %>
		</div>
		<% end %>
		<%= paginate @unassigned %>	
	</span>
	<span id="providerPatients">
		<h2><%= @provider.full_name%>'s patients <%= submit_tag "Save", style: "float:right" %></h2>
		<div>
			<%= render partial: 'provider_patients' %>
		</div>
		<%= paginate @records, param_name: 'provider_page' %>
	</span>
</div>
