<%  
	#todo: put logic like this inside the models.  
	ri = @patient.registration_information 
	address = ri.address
	coms = ri.telecom
	labs = @patient.all_results

	
	vitals = @patient.vital_signs.flatten.sort { |a,b| 
		if a.result_date > b.result_date
			1
		elsif a.result_date < b.result_date
			-1
		else 
			0
		end 
	}.reverse
	
	
	weight = vitals.find { |item| item.result_code == '3141-9' }
	#todo get height & bmi result code
	height = vitals.find { |item| item.result_code == '0000-0' }
	bmi = vitals.find { |item| item.result_code == '0000-0' }
	bp_systolic = vitals.find { |item| item.result_code == '8480-6' }
	bp_diastolic = vitals.find { |item| item.result_code == '8462-4'}
	insurance_provider = @patient.insurance_providers.first	
%>
		
		<ul class='breadcrumbs'>
			<li><a href='<%= @ret %>'>Patient List</a></li>
			<li>&#62;</li>
			<li><%= @patient.name %></li>
		</ul>
		<div class='vcard'>
			<h1 class='n'>
				<% if !ri.person_name.nil? %>
				<span class='title honorific-prefix'><%= ri.person_name.name_prefix %></span>
				<span class='given-name'><%= ri.person_name.first_name %></span> 
				<span class='family-name'><%= ri.person_name.last_name %></span>
				<span class='honorific-suffix'><%=ri.person_name.name_suffix%></span>
				<% else %>
					<%=@patient.name%>
				<% end%>
			</h1>
			<ul class='stack stats'>
				<li class='age'>
					<label>age</label>
					<span class='value int'><%= ((DateTime.now - ri.date_of_birth).to_i/365).round %></span>
				</li>
				<li class='gender'>
					<label>gender</label>
					<span class='value text'><%=ri.gender.name%></span>
				</li>
				<li class='date-of-birth dob'>
					<label >date of birth</label>
					<span class='value date bday'><%= ri.date_of_birth%></span>
				</li>
				<li class='weight'>
					<label>weight</label>
					<span class='value text'><%= weight.nil? ? "n/a" : ("#{weight.value_scalar} #{weight.value_unit}")  %></span>
				</li>
				<li class='height'>
					<label>height</label>
					<span class='value text'><%= height.nil? ? "n/a" : ("#{height.value_scalar} #{height.value_unit}")  %></span>
				</li>
				<li class='body-mass-index bmi'>
					<label title="body mass index">BMI</label>
					<span class='value text'><%= bmi.nil? ? "n/a" : ("#{height.value_scalar} #{height.value_unit}")  %></span>
				</li>
				<li class='blood-pressure'>
					<label>blood pressure</label>
					<span class='data'>
					<% if !bp_systolic.nil? %>
						<%= bp_systolic.nil? ? "n/a" : ("<span class='systolic value int'>#{bp_systolic.value_scalar}</span>")  %> /
						<%= bp_diastolic.nil? ? "n/a" : ("<span class='diastolic value int'>#{bp_diastolic.value_scalar}</span> #{bp_diastolic.value_unit}")  %>
					<% else %>
						n/a
					<% end %>
					</span>
				</li>
			</ul>
			<ul class='stack contact-information'>
				<li class='phone-numbers'>
					<label>phone</label>
					<ul class='data'>
					<% if !coms.nil? %>
						<% if !coms.nil? && coms.home_phone != "" %>
							<li class='tel'><span class='value'><%= coms.home_phone %></span> <span class='type'>home</span></li>
						<%end%>
						<% if !coms.work_phone.nil? && coms.work_phone != "" %>
							<li class='tel'><span class='value'><%= coms.work_phone %></span> <span class='type'>work</span></li>
						<%end%>
						<% if !coms.mobile_phone.nil? && coms.mobile_phone != "" %>
							<li class='tel'><span class='value'><%= coms.mobile_phone %></span> <span class='type'>mobile</span></li>
						<%end%>
						<% if !coms.vacation_home_phone.nil? && coms.vacation_home_phone != "" %>
							<li class='tel'><span class='value'><%= coms.vacation_home_phone %></span> <span class='type'>vacation</span></li>
						<%end%>
					<% else %>
							<li>n/a</li>
					<%end%>
					</ul>
				</li>
				<li class='address adr'>
					<label>address</label>
					<ul class='data'>
						<% if !address.nil? %>
						<li class='street-address'><%= address.street_address_line_one %></li>
						<% if !address.street_address_line_two.nil? && address.street_address_line_two != "" %>
						<li class='extended-address'><%= address.street_address_line_two %></li>
						<% end %>
						<li>
							<span class='locality'><%= address.city%></span>, 
							<abbr class='region' title=''><%= address.state%></abbr>
							<span class='postal-code'><%=address.postal_code%></span> 
						</li>
						<% else %>
							<li>n/a</li>
						<% end %>
					</ul>
				</li>
				<li class='email'>
					<label>email</label>
					<% if !coms.nil? && !coms.email.nil? %>
					<a class='data' href='mailto:<%= coms.email %>'><span class='value'><%= coms.email %></span></a>
					<% else %>
					n/a
					<% end %>
				</li>
				
			</ul>
			<ul class="stack insurance">	
				<li class='provider'>
					<label>insurance provider</label>
					<span class='value text'><%= insurance_provider.nil? ? "n/a" : insurance_provider.represented_organization %></span>
				</li>
				<li class='group-number'>
					<label>insurance group number</label>
					<% if !insurance_provider.nil? && !insurance_provider.group_number.nil? %>
					<span class='value text'><%= insurance_provider.group_number %></span>
					<% else %>
					n/a
					<% end %>
				</li>
			</ul>
			<div class='section'>
				<div class='column conditions'>
					<h2>conditions</h2>
					<ul class='stack'>
					<% @patient.conditions.each do |c| %>
						<li class='condition'>
							<dl class='<%=c.free_text_name.dasherize%>'>
								<dt class='term'><%= c.free_text_name %></dt>
								<dd class='description'><!-- missing description --></dd>
							</dl>
							<ul class='data'>
								<li class='start'>
									<label>started on</label>
									<span class='value'><%=c.start_event%></span>
								</li>
								<!-- 
								<li class='end'>
									<label>ended on</label>
									<span class='value'><%=c.end_event%></span>
								</li>
								-->
							</ul>
						</li>
					<% end %>
					</ul>
				</div>
				<div class='column vitals'>
					<h2>vitals</h2>
					<%= grid(vitals, :name => 'vitals', :class_names => 'simple').empty.columns { |g|
							g.column :result_code_display_name, :title => 'name'
							g.column :value_scalar, :title => 'result', :format => lambda { |value,item| return "#{value} #{item.value_unit}" }
							g.column :result_date, :title => 'date'
						}
					%>
				</div>
			</div>
			<div class='section'>
				<div class='column medications'>
					<h2>medications</h2>
					<%= grid(@patient.medications, :name => 'medications', :class_names => 'simple').empty.columns { |g| 
							g.column :product_coded_display_name, :title => 'name'
							g.column :quantity_ordered_value, :title => 'dosage', :format => lambda { |value,item| return "#{value} #{item.quantity_ordered_unit}" }
							g.column :expiration_time, :title => 'expires'
						}  
					%>
				</div>
				<div class='column allergies'>
					<h2>allergies</h2>
					<% if @patient.allergies.length > 0 %>
					<ul class='stack'>
						<% @patient.allergies.each  do |a| %>
						<li class='allergy'><%=a.free_text_product %></li>
						<% end%>
					</ul>
					<% else %>
						<p> Currently the patient does not have any known allergies. </p>
					<% end %>
				</div>
			</div>
			<div class='section'>
				<div class='column labs'>
					<h2>labs</h2>
					<%= grid(@patient.results, :type => 'labs', :class_names => 'simple').empty.columns { |g|
						g.column	:result_code_display_name, :title => 'name'
						g.column	:value_scalar, :title => 'result', :format => lambda { |value, item| return "#{value} #{item.value_unit}"  }
						g.column	:result_date, :title => 'date'
					}%>
				</div>
				<div class='column vaccinations'>
					<h2>vaccincations</h2>
					<ul class='stack'>
					<% @patient.immunizations.each do |immunization|  %>
					<li><%= immunization.vaccine.name %></li>
					<% end %>
					</ul>
				</div>
			</div>
		</div>