<div id="pageContent">
	<div id="providerReports">
		<div class="groupList">
			<label class="open">OUTLIERS</label> 
			<div>
				<ul class="patientList">
				  <% @outliers.each do |outlier| %>
					<li><%= outlier['name'] %><%= " - #{outlier['subtitle']}" if outlier['subtitle'] %></li>
					<% end %>
				</ul>
			</div>
    </div>
		<div class="groupList">
			<label class="open">MANUAL EXCLUSIONS</label> 
			<div>
				<ul class="patientList">
				  <% @manual_exclusions.each do |exclusion| %>
					<li><%= exclusion['name'] %><%= " - #{exclusion['subtitle']}" if exclusion['subtitle'] %></li>
					<% end %>
				</ul>
			</div>
    </div>
  </div>
  <div id="dashboardPeriod">
    <div id="patientName" class="main">
      <p id="patientLastName"><%= @patient.last %>,</p>
      <p id="patientFirstName"><%= @patient.first %></p>
      <p>effective date:</p>
      <div id="effectiveDate"><%= display_time(@effective_date) %></div>
      <table id="patientBasicInfo">
        <tbody>
          <tr>
            <th>DOB</th>
            <td>
              <%= display_time(@patient.birthdate) %>
            </td>
          </tr>
          <tr>
            <th>sex</th>
            <td>
              <%= @patient.gender %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="lowerborder">
      <table class="patientDemo main">
        <tbody>
          <tr>
            <th>race</th>
            <td>
              <%= Race.from_code(@patient.race['code']).first.name %>
            </td>
          </tr>
          <tr>
            <th>ethnicity</th>
            <td>
              <%= Ethnicity.from_code(@patient.ethnicity['code']).first.name %>
            </td>
          </tr>
          <tr>
            <th>language</th>
            <td>???</td>
          </tr>
          <tr>
            <th>btype</th>
            <td>???</td>
          </tr>
          <tr>
            <th>tobacco user</th>
            <td>???</td>
          </tr>
        </tbody>
      </table>
      <table class="providerInfo">
        <tbody>
          <tr>
            <th>health plan</th>
            <td>???</td>
          </tr>
          <tr>
            <th>policy number</th>
            <td>???</td>
          </tr>
          <tr>
            <th>p.c.p.</th>
            <td>???</td>
          </tbody>
        </table>
      </div>
      <div id="patientRecords" class="main">
        <table>
          <tbody>
            <tr>
              <th colspan="4"><div class="sectionHeadingbar">Allergies</div></th>
            </tr>
            <%= render :partial => 'entry', :collection => @patient.allergies %>
          </tbody>
          <tbody>
            <tr>
              <th colspan="4"><div class="sectionHeadingbar">Care Goals</div></th>
            </tr>
            <%= render :partial => 'entry', :collection => @patient.care_goals %>
          </tbody>
          <tbody>
            <tr>
              <th colspan="4"><div class="sectionHeadingbar">Vital Signs</div></th>
            </tr>
            <%= render :partial => 'entry', :collection => @patient.vital_signs %>
          </tbody>
          <tbody>
            <tr>
              <th colspan="4"><div class="sectionHeadingbar">Laboratory Tests</div></th>
            </tr>
            <%= render :partial => 'entry', :collection => @patient.results %>
           </tbody>
           <tbody>
             <tr>
               <th colspan="4"><div class="sectionHeadingbar">Encounters</div></th>
             </tr>
             <%= render :partial => 'entry', :collection => @patient.encounters %>
           </tbody>
           <tbody>
             <tr>
               <th colspan="4"><div class="sectionHeadingbar">Conditions</div></th>
             </tr>
             <%= render :partial => 'entry', :collection => @patient.conditions %>
           </tbody>
        </table>
        <div class="secondColumn">
          <table>
            <tbody>
              <tr>
                <th colspan="4"><div class="sectionHeadingbar">Procedure</div></th>
              </tr>
              <%= render :partial => 'entry', :collection => @patient.procedures %>
            </tbody>
            <tbody>
              <tr>
                <th colspan="4"><div class="sectionHeadingbar">Medications</div></th>
              </tr>
              <%= render :partial => 'entry', :collection => @patient.medications %>
            </tbody>
            <tbody>
              <tr>
                <th colspan="4"><div class="sectionHeadingbar">Social History</div></th>
              </tr>
              <%= render :partial => 'entry', :collection => @patient.social_history %>
            </tbody>
            <tbody>
              <tr>
                <th colspan="4"><div class="sectionHeadingbar">Immunizations</div></th>
              </tr>
              <%= render :partial => 'entry', :collection => @patient.immunizations %>
            </tbody>
            <tbody>
              <tr>
                <th colspan="4"><div class="sectionHeadingbar">Medical Equipment</div></th>
              </tr>
              <%= render :partial => 'entry', :collection => @patient.medical_equipment %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
