<% content_for :head do %>
  <script type="text/javascript">

  $(document).ready(function() {
    // Yes this is hacky, but it fixes a dev issue where AJAX seems to block img loading
    setTimeout(function () {
      $.getJSON('<%= request.url%>.json', function(data) {
        _.each(data.exclusions, function(exc) {
          $("#exclusionList").append("<div class='alert'><i class='pull-left icon-ban-circle'></i><div>" + out.name + "</div></div>")
        });

        $("#exclusionList img").hide()

        _.each(data.outliers, function(out) {
          $("#outlierList").append("<div class='alert alert-error'><i class='pull-left icon-exclamation-sign'></i><div>" + out.name + "</div></div>")
        });

        $("#outlierList img").hide()
      })
    }, 1)
  });
  </script>
<% end %>

<div id="pageContent" class='row-fluid'>
	<div id="providerReports" class="span2">
		<div id="outlierList" class="row-fluid groupList">
			<h5>Outliers</h5>
      <div style='text-align:center'><%= image_tag 'loading_bar.gif' %></div>
    </div>
		<div id="exclusionList" class="groupList">
			<h5>Manual Exclusions</h5>
      <div style='text-align:center'><%= image_tag 'loading_bar.gif' %></div>
    </div>
  </div>
  <div id="dashboardPeriod" class="span10">
    <div id="patientName" class="row-fluid measureDetailTable">
      <dl class="dl-horizontal">
        <dt>patient name:</dt>
        <dd><h4><%= @patient.last %>, <%= @patient.first %></h4></dd>
                <dt>effective date:</dt>
        <dd  id="effectiveDate"><%= display_time(@effective_date) %></dd>
      </dl>
    </div>
    <div class="row-fluid">
      <dl class="dl-horizontal span6">
        <dt>dob</dt>
        <dd><%= display_time(@patient.birthdate) %></dd>
        <dt>sex</dt>
        <dd><%= @patient.gender %></dd>
        <dt>race</dt>
        <dd><%= Race.from_code(@patient.race['code']).first.name if @patient.race %></dd>
        <dt>ethnicity</dt>
        <dd><%= Ethnicity.from_code(@patient.ethnicity['code']).first.name if @patient.ethnicity %></dd>
        <dt>languages</dt>
        <dd><%= @patient.language_names.join %></dd>        
      </dl>
      <dl class="dl-horizontal span6">
        <dt>record number</dt>
        <dd><%= @patient.medical_record_number %></dd>
        <dt>Providers</dt>
          <dd>
            <ul class="unstyled">
              <% @patient.providers.each do |pv| %>
                <li><%= pv.full_name%></li>
              <% end %>
            </ul>
          </dd>
      </dl>
    </div>
    <div id="patientRecords" class="span12">
      <div class="span6">
         <%= render :partial => 'section', :object => @patient.allergies, :locals => {:title => 'Allergies'} %>
              <%= render :partial => 'section', :object => @patient.care_goals, :locals => {:title => 'Care Goals'} %>
              <%= render :partial => 'section', :object => @patient.vital_signs, :locals => {:title => 'Vital Signs'} %>
              <%= render :partial => 'section', :object => @patient.results, :locals => {:title => 'Laboratory Results'} %>
              <%= render :partial => 'section', :object => @patient.encounters, :locals => {:title => 'Encounters'} %>
              <%= render :partial => 'section', :object => @patient.conditions, :locals => {:title => 'Conditions'} %>
      </div>
      <div class="span6">
                      <%= render :partial => 'section', :object => @patient.procedures, :locals => {:title => 'Procedures'} %>
              <%= render :partial => 'section', :object => @patient.medications, :locals => {:title => 'Medications'} %>
              <%= render :partial => 'section', :object => @patient.social_history, :locals => {:title => 'Social History'} %>
              <%= render :partial => 'section', :object => @patient.immunizations, :locals => {:title => 'Immunizations'} %>
              <%= render :partial => 'section', :object => @patient.medical_equipment, :locals => {:title => 'Medical Equipment'} %>
      </div>
    </div>
  </div>
</div>
