<!-- Start Content -->
    <div class="notice">
      <% unless @patient.test_plan %>
      You are editing a patient template record.  These edits will not affect data in patient records assigned to inspections
      <% else %>
        Your are editing a patient record for the <%=h @patient.test_plan.class.test_name %> test within the <%=h @patient.test_plan.vendor %> inspection only.  These edits will not affect the original patient template in the library.
      <% end %>
    </div>
    <div class="column span-6 append-1">
      <%= render :partial => 'template_info' %>
      <h4></h4><br>
     <div id="modules" style="position: fixed; width:230px;">
        <table>
          <tr>
            <th><h5>CCD/C32 Modules</h5></th>
          </tr>
          <tr class="darkzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('personInformationContainer', 1.0);">Person Information</a>
            </td>
          </tr>
          <tr class="lightzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('identifiersContainer', 1.0);">Patient Identifiers</a>
            </td>
          </tr>
          <tr class="lightzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('languageContainer', 1.0);">Languages Spoken</a>
            </td>
          </tr>
          <tr class="darkzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('supportContainer', 1.0);">Support</a>
            </td>
          </tr>
          <tr class="lightzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('healthCareProviderContainer', 1.0);">Healthcare Provider</a>
            </td>
          </tr>
          <tr class="darkzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('insuranceProviderContainer', 1.0);">Insurance Provider</a>
            </td>
          </tr>
          <tr class="lightzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('allergiesAndDrugsContainer', 1.0);">Allergy / Drug Sensitivity</a>
            </td>
          </tr>
          <tr class="darkzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('conditionsContainer', 1.0);">Conditions</a>
            </td>
          </tr>
          <tr class="lightzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('medicationsContainer', 1.0);">Medication</a>
            </td>
          </tr>
          <tr class="darkzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('pregnancyContainer', 1.0);">Pregnancy</a>
            </td>
          </tr>
          <tr class="lightzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('informationSourceContainer', 1.0);">Information Source</a>
            </td>
          </tr>
          <tr class="darkzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('advanceDirectiveContainer', 1.0);">Advance Directive</a>
            </td>
          </tr>
          <tr class="darkzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('vitalSignsContainer', 1.0);">Vital Sign</a>
            </td>
          </tr>
          <tr class="lightzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('resultsContainer', 1.0);">Result</a>
            </td>
          </tr>
          <tr class="darkzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('immunizationsContainer', 1.0);">Immunization</a>
            </td>
          </tr>
          <tr class="lightzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('encountersContainer', 1.0);">Encounter<o/a>
            </td>
          </tr>
          <tr class="darkzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('proceduresContainer', 1.0);">Procedure</a>
            </td>
          </tr>
          <tr class="lightzebra">
            <td class="lighttext">
              <a href="#" onclick="javascript:scroll_to_module_and_highlight('medicalEquipmentContainer', 1.0);">Medical Equipment</a>
            </td>
          </tr>
          <tr class="darkzebra">
            <td><%= link_to "Back to top of page", "#top" %></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="column span-13 last">
      <div id="template">

        <!-- Start Person Information Module -->
        <div id="personInformationContainer">
          <%= render :partial => '/registration_information/show',
                     :locals => {:registration_information  => @patient.registration_information,
                                 :patient => @patient} %>
        </div>
        <!-- End Person Information Module -->

        <!-- Start Patient Identifier Module -->
        <div id="identifiersContainer">
        <h5>Patient Identifiers</h5>
        <% @patient.patient_identifiers.each do |patient_identifier| -%>
          <div id="patient_identifier<%= patient_identifier.id %>">
            <%= render :partial => '/patient_identifiers/show',
                       :locals => {:patient_identifier => patient_identifier,
                                   :patient => @patient} %>
          </div>
        <% end %>
        <% if @patient.editable_by? current_user -%>
          <table id="addPatientIdentifier">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td><%= link_to_remote 'Add', :url => new_patient_patient_identifier_path(@patient),
                                            :method => 'get',
                                            :update => 'addPatientIdentifier',
                                            :position => :before %>
              </td>
            </tr>
          </table>
        <% end -%>
    </div>
        <!-- End Patient Identifier Module -->

        <!-- Start Languages Module -->
        <div id="languageContainer"><h5>Languages Spoken (Required)</h5>
        <% @patient.languages.each do |language| -%>
          <div id="language<%= language.id %>">
            <%= render :partial => '/languages/show', :locals => {:language  => language,
                                                                  :patient => @patient} %>
          </div>
        <% end -%>
        <% if @patient.editable_by? current_user -%>
         <table id="addLanguage">
           <tr class="<%= cycle("darkzebra", "lightzebra")%>">
             <td></td>
             <td>
               <%= link_to_remote 'Add', :url => new_patient_language_path(@patient),
                                         :method => 'get', 
                                         :update => 'addLanguage', 
                                         :position => :before %>
             </td>
           </tr>
         </table>
        <% end -%>
        </div> 
        <!-- End Languages Module -->

        <!-- Start Support Module -->
        <div id="supportContainer">
          <%= render :partial => '/supports/show', :locals => {:support  => @patient.support,
                                                               :patient => @patient} %>
        </div>
        <!-- End Support Module -->

        <!-- Start Healthcare Provider Module -->
        <div id="healthCareProviderContainer">
        <h5>Healthcare Provider</h5>
        <% @patient.providers.each do |provider| -%>
            <%= render :partial => '/providers/show', :locals => {:provider  => provider,
                                                                  :patient => @patient} %>
        <% end -%>
        <% if @patient.editable_by? current_user -%>
          <table id="addProvider">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td>
                <%= link_to_remote 'Add', :url => new_patient_provider_path(@patient),
                                          :method => 'get',
                                          :update => 'addProvider',
                                          :position => :before %>
              </td>
            </tr>
          </table>
        <% end -%>
        </div>
        <!-- End Healthcare Provider Module -->

        <!-- Start Insurance Provider Module -->
        <div id="insuranceProviderContainer">
        <h5>Insurance Provider</h5>
        <% @patient.insurance_providers.each do |insurance_provider| -%>
          <div id="insurance_provider<%= insurance_provider.id %>">
            <%= render :partial => '/insurance_providers/show',
                       :locals => {:insurance_provider  => insurance_provider,
                                   :patient => @patient} %>
          </div>
        <% end %>  
        <% if @patient.editable_by? current_user -%>
          <table id="addInsuranceProvider">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td>
                <%= link_to_remote 'Add', :url => new_patient_insurance_provider_path(@patient),
                                          :method => 'get',
                                          :update => 'addInsuranceProvider',
                                          :position => :before %>
              </td>
            </tr>
          </table>
        <% end -%>
        </div>
        <!-- End Insurance Provider Module -->

        <!-- Start Allergies and Drugs Module -->
        <div id="allergiesAndDrugsContainer">
        <h5>Allergy / Drug Sensitivity (Required)</h5>
        <% if @patient.no_known_allergies -%>
        <table>
          <tr class="<%= cycle("darkzebra", "lightzebra")%>">
            <td></td>
            <td>
              No known allergies
            </td>
          </tr>
        </table>
        <% else
             unless @patient.allergies.empty?
               @patient.allergies.each do |allergy| -%>
          <div id="allergy<%= allergy.id %>">
            <%= render :partial => '/allergies/show', :locals => {:allergy  => allergy, 
                                                                  :patient => @patient} %>
          </div>
        <%     end 
             else -%>
              <%= render :partial => '/allergies/no_known_allergies_link', :locals => { :patient => @patient} %>
        <%   end -%>
        <% end -%>
        <% if @patient.editable_by? current_user -%>
          <table id="addAllergy">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td>
                <%= link_to_remote 'Add', :url => new_patient_allergy_path(@patient),
                                          :method => 'get',
                                          :update => 'addAllergy',
                                          :position => :before %>
              </td>
            </tr>
          </table>
        <% end -%>
        </div>
        <!-- End Allergies and Drugs Module -->

        <!-- Start Conditions Module -->
        <div id="conditionsContainer">
        <h5>Conditions and Problems</h5>
        <% @patient.conditions.each do |condition| %>
          <div id="condition<%= condition.id %>">
            <%= render :partial => '/conditions/show', 
                       :locals => {:condition  => condition, :patient => @patient} %>
          </div>
        <% end %>
        <% if @patient.editable_by? current_user -%>
          <table id="addCondition">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td><%= link_to_remote 'Add', :url => new_patient_condition_path(@patient),
                                            :method => 'get',
                                            :update => 'addCondition',
                                            :position => :before %>
              </td>
            </tr>
          </table>
        <% end -%>
        </div>
        <!-- End Conditions Module -->

        <!-- Start Medications Module -->
        <div id="medicationsContainer"> 
        <h5>Medication</h5>
        <% @patient.medications.each do |medication| -%>
          <div id="medication<%= medication.id %>">
            <%= render :partial => '/medications/show', :locals => {:medication  => medication,
                                                                    :patient => @patient} %>
          </div>
        <% end -%>
        <% if @patient.editable_by? current_user -%>
          <table id="addMedication">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td><%= link_to_remote 'Add', :url => new_patient_medication_path(@patient),
                                            :method => 'get',
                                            :update => 'addMedication',
                                            :position => :before %>
              </td>
            </tr>
          </table>
        <% end -%>
        </div>
        <!-- End Medications Module -->

        <!-- Start Pregnancy Module -->
        <div id="pregnancyContainer">
          <div id="pregnancy">
            <%= render :partial => '/pregnancies/show', :locals => {:patient => @patient} %>
          </div>
        </div> 
        <!-- End Pregnancy Module -->  

        <!-- Start Information Source Module -->
        <div id="informationSourceContainer">
          <%= render :partial => '/information_sources/show', :locals => {:information_source => @patient.information_source,
                                                                          :patient => @patient} %>
        </div>
        <!-- End Information Source Module -->

        <!-- Start Advance Directive Module -->
        <div id="advanceDirectiveContainer">
          <%= render :partial => '/advance_directives/show', :locals => {:advance_directive => @patient.advance_directive,
                                                                         :patient => @patient} %>
        </div>
        <!-- End Information Source Module -->

        <!-- Start Vital Signs Module -->
        <div id="vitalSignsContainer">
        <h5>Vital Sign</h5>
        <% @patient.vital_signs.each do |result| -%>
          <div id="vital_signs<%= result.id %>">
            <%= render :partial => '/results/show', :locals => {:result  => result,
                                                                :patient => @patient} %>
          </div>
        <% end -%>
        <% if @patient.editable_by? current_user -%>
          <table id="addVital">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <!-- Callback at the end to modify the form and let the controller we are creating a vital sign instead of a result -->
              <td><%= link_to_remote 'Add', :url => new_patient_vital_sign_path(@patient),
                                            :method => 'get',
                                            :update => 'addVital',
                                            :position => :before %>
              </td>
            </tr>
          </table>
        <% end -%>
        </div>
        <!-- End Vital Signs Module  -->

        <!-- Start Results Module -->
        <div id="resultsContainer"> 
        <h5>Result</h5>
        <% @patient.results.each do |result| -%>
          <div id="results<%= result.id %>">
            <%= render :partial => '/results/show', :locals => {:result  => result,
                                                                :patient => @patient} %>
          </div>
        <% end -%>
        <% if @patient.editable_by? current_user -%>
          <table id="addResult">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td><%= link_to_remote 'Add', :url => new_patient_result_path(@patient),
                                            :method => 'get',
                                            :update => 'addResult',
                                            :position => :before %>
              </td>
            </tr>
          </table>
        <% end -%>
        </div>
        <!-- End Results Module -->

        <!-- Start Immunizations Module -->
        <div id="immunizationsContainer">
        <h5>Immunization</h5>
        <% @patient.immunizations.each do |immunization| %>
          <div id="immunization<%= immunization.id %>">
            <%= render :partial => '/immunizations/show',
                       :locals => {:immunization  => immunization,
                                   :patient => @patient} %>
          </div>
        <% end %>
        <% if @patient.editable_by? current_user -%>
          <table id="addImmunization">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td><%= link_to_remote 'Add', :url => new_patient_immunization_path(@patient),
                                            :method => 'get',
                                            :update => 'addImmunization',
                                            :position => :before %>
              </td>
            </tr>
          </table>
        <% end -%>
        </div>
        <!-- End Immunizations Module -->

        <!-- Start Encounters Module -->
        <div id="encountersContainer">
        <h5>Encounter</h5>
        <% @patient.encounters.each do |encounter| %>
          <div id="encounter<%= encounter.id %>">
            <%= render :partial => '/encounters/show', 
                       :locals => {:encounter => encounter, :patient => @patient} %>
          </div>
        <% end %>
        <% if @patient.editable_by? current_user -%>
          <table id="addEncounter">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td><%= link_to_remote 'Add', :url => new_patient_encounter_path(@patient),
                                            :method => 'get',
                                            :update => 'addEncounter', 
                                            :position => :before %>
              </td>
            </tr>
          </table>
        <% end -%>
        </div>
        <!-- End Encounters Module -->

        <!-- Start Procedures Module -->
        <div id="proceduresContainer">
        <h5>Procedure</h5>
        <% @patient.procedures.each do |procedure| %>
          <div id="procedure<%= procedure.id %>">
            <%= render :partial => '/procedures/show', 
                       :locals => {:procedure => procedure, :patient => @patient} %>
          </div>
        <% end %>
        <% if @patient.editable_by? current_user -%>
          <table id="addProcedure">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td><%= link_to_remote 'Add', :url => new_patient_procedure_path(@patient),
                                            :method => 'get',
                                            :update => 'addProcedure',
                                            :position => :before %>
              </td>
            </tr>
          </table>
        <% end -%>
        </div>
        <!-- End Procedures Module -->

        <!-- Start Medical Equipment Module -->
        <div id="medicalEquipmentContainer">
        <h5>Medical Equipment</h5>
        <% @patient.medical_equipments.each do |medical_equipment| %>
            <%= render :partial => '/medical_equipments/show', 
                       :locals => {:medical_equipment => medical_equipment,
                                   :patient => @patient} %>
        <% end %>
        <% if @patient.editable_by? current_user -%>
          <table id="addMedicalEquipment">
            <tr class="<%= cycle("darkzebra", "lightzebra")%>">
              <td></td>
              <td><%= link_to_remote 'Add', :url => new_patient_medical_equipment_path(@patient),
                                            :method => 'get', 
                                            :update => 'addMedicalEquipment', 
                                            :position => :before %>
              </td>
            </tr>
          </table>
        <% end -%>
        </div>
        <!-- End Medical Equipment Module -->

  </div>
</div>
