<div class="practices">
  <h1>Practices</h1>
  <br/>  
	<%= render 'new_practice' %>
	<br />
	<h4> Current Practices </h4>
	<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Organization</th>
        <th>Address</th>
        <th>User(s)</th>
        <th>Patients</th>
        <th>Providers</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  <% @practices.each do |practice| %>
    <tbody>
      <tr>
        <td><%= practice.name %></td>
        <td><%= practice.organization %></td>
        <td><%= practice.address %></td> 
        <td><%= practice.users ? practice.users.map {|u| u.username}.join(", ") : 'N/A' %></td>                
        <td><%= practice.records ? practice.records.count : 0 %></td>
        <td><%= practice.provider.descendants.count %></td>
        <td><%= link_to 'Delete', practice, method: :delete, data: { confirm: 'Are you sure? There may be patients tied to this practice' } %></td>
        <td><%= link_to "Delete Patients", practices_remove_patients_path(id: practice.id), method: :delete, data: { confirm: 'Are you sure you want to delete all patients for ' + "#{practice.name}?"} %></td>
      </tr>
    </tbody>
  <% end %>
  </table>
	<br />
  <%= link_to 'Back to Users', "/admin/users", class: 'btn btn-success' %>
  <%= link_to 'Back to Patients', "/admin/patients", class: 'btn btn-info' %>
</div>
