
<div class="login">
  <header>
      <%= image_tag "pophealth_welcome.png", :id => 'imgLogo', :title => 'popHealth welcomes you!', :alt => 'popHealth logo' %>
    <%= content_tag(:div, flash[:error], id: "flash_error", class: "alert alert-error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], id: "flash_notice", class: "alert alert-info") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], id: "flash_alert", class: "alert alert-warning") if flash[:alert] %>
  </header>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:name=>"login_form"}) do |f| %>
  <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-envelope fa-lg fa-fw"></i></span>
      <%= f.text_field :username, class: "form-control", placeholder: "username" %>
  </div>
  <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i></span>
      <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  </div>

  <% if resource.errors.present? %>
  <div class="alert alert-danger">
     <%= devise_error_messages! %>
  </div>
  <% end %>
  <!-- <a class="btn btn-primary form-control btn-lg">Login</a> -->
  <%= f.submit "Login", class: "btn btn-login" %>

  <%= render :partial => "devise/shared/links" %>
<% end %>
</div>

