<h5>Advance Directive</h5>
<table>
<% if advance_directive -%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Advance Directive Type</td>
    <td><% if advance_directive.advance_directive_type %><%=h advance_directive.advance_directive_type.name %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Free Text Description</td>
    <td><% if advance_directive.free_text %><%=h advance_directive.free_text %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Effective Time</td>
    <td><% if advance_directive.start_effective_time %><%=h advance_directive.start_effective_time %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Effective Time</td>
    <td><% if advance_directive.end_effective_time %><%=h advance_directive.end_effective_time %><% end %></td>
  </tr>
  <%= render :partial => '/person_names/show', :locals => {:person_name => advance_directive.person_name}%>
  <%= render :partial => '/addresses/show', :locals => {:address => advance_directive.address}%>
  <%= render :partial => '/telecoms/show', :locals => {:telecom => advance_directive.telecom}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Status Code</td>
    <td>
      <% if advance_directive.advance_directive_status_code %><%=h advance_directive.advance_directive_status_code.name %><% end %>
    </td>
  </tr>
  <% if @patient.editable_by? current_user -%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td>
    <span>
      <%= link_to_remote 'Edit', :update => 'advanceDirectiveContainer', 
                                 :url => edit_patient_advance_directive_path(patient),
                                 :method => 'get' %>
    </span> 
   <span>
      <%= link_to_remote 'Remove', :update => 'advanceDirectiveContainer', 
                                   :url => patient_advance_directive_path(patient),	
                                   :confirm=>"Are you sure you wish to remove this advance directive?",
                                   :method => 'delete' %>
    </span>
    </td>
  </tr>
<% end -%>
<% else -%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">There is no advance directive data for this test case</td>
    <td><%= link_to_remote 'Create some', :update => 'advanceDirectiveContainer',
                                          :url => new_patient_advance_directive_path(patient),
                                          :method => 'get' %>
    </td>
  </tr>
<% end -%>
</table>
