<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Free Text Product Name</td>
    <td><%=h allergy.free_text_product %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Product Code</td>
    <td><% if allergy.product_code %><%=h allergy.product_code %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Severity</td>
    <td><% if allergy.severity_term %><%=h allergy.severity_term.name %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Alert Type</td>
    <td>
      <% if allergy.adverse_event_type %><%=h allergy.adverse_event_type.name %><% end %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Event</td>
    <td>
      <%=h allergy.start_event %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Event</td>
    <td>
      <%=h allergy.end_event %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Status Code</td>
    <td>
      <% if allergy.allergy_status_code %><%=h allergy.allergy_status_code.name %><% end %>
    </td>
  </tr>
  <% if @patient.editable_by? current_user -%>
    <tr class="<%= cycle("darkzebra", "lightzebra")%>">
      <td></td><td><span>
        <%= link_to_remote 'Edit', :update => "allergy#{allergy.id}",
                                   :url => edit_patient_allergy_path(patient, allergy),
                                   :method => 'get' %>
      </span><span>
        <%= link_to_remote 'Remove', :update => "allergy#{allergy.id}",
                                   :url => patient_allergy_path(patient, allergy),
                                   :confirm=>"Are you sure you wish to remove this allergy?",
                                   :method => 'delete' %>
      </span></td>
    </tr>
  <% end -%>
</table>
