<div class='team-measure-header'>
  <div class='team-name'> <b> {{name}} </b> </div>
  <a class="pull-right btn btn-primary export-team-report-btn" href="/api/reports/team_report{{#if effectiveDate}}?effective_date={{effectiveDate}}{{/if}}{{#if _id}}&team_id={{_id}}{{/if}}{{#if measureId}}&measure_id={{measureId}}{{/if}}{{#if subId}}&sub_id={{sub_id}}{{/if}}">
    <i class="glyphicon glyphicon-download-alt"></i> EXPORT TEAM REPORT
  </a>
</div>
<div class='team-measure-view'>
  <div class='submeasure-body'> {{view submeasure}} </div>
</div>
