<h5>Support (HITSP required)</h5>
<table>
<% if support -%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Support</td>
    <td><% if support.start_support %><%=h support.start_support %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Support</td>
    <td><% if support.end_support %><%=h support.end_support %><% end %></td>
  </tr>
  <%= render :partial => '/person_names/show', :locals => {:person_name => support.person_name}%>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Contact Type</td>
    <td><% if support.contact_type %><%=h support.contact_type.name %><% end %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Relationship</td>
    <td><% if support.relationship %><%=h support.relationship.name %><% end %></td>
  </tr>
  <%= render :partial => '/addresses/show', :locals => {:address => support.address, :required => ['sdf'], :hitsp_required => ['sdfsdf']}%>
  <%= render :partial => '/telecoms/show', :locals => {:telecom => support.telecom}%>
  <% if @patient.editable_by? current_user -%>
    <tr class="<%= cycle("darkzebra", "lightzebra")%>">
      <td></td>
      <td>
      <span>
        <%= link_to_remote 'Edit', :update => 'supportContainer', 
                                   :url => edit_patient_support_path(patient),
                                   :method => 'get' %>
      </span>
      <span> <%= link_to_remote 'Remove', :update => 'supportContainer', 
                                   :url => patient_support_path(patient),
                                   :confirm=>"Are you sure you wish to remove this support?",
                                   :method => 'delete' %>
      </span>
      </td>
    </tr>
  <% end -%>
<% else -%>
  <% if @patient.editable_by? current_user -%>
    <tr class="<%= cycle("darkzebra", "lightzebra")%>">
      <td class="lighttext">There is no support data for this test case</td>
      <td><%= link_to_remote 'Create some', :update => 'supportContainer',
                                        :url => new_patient_support_path(patient), :method => 'get' %>
      </td>
    </tr>
  <% end -%>
<% end -%>
</table>
