<!-- Start Personal Information Module -->
<% patient_form_for(@support, :url => patient_support_path(@patient),
                   :update => 'supportContainer') do |f| %>
<h5>Support (HITSP required)</h5>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Start Support <%= requirements_for @support, :start_support %></td>
    <td>
      <%= f.calendar_date_select :start_support %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">End Support <%= requirements_for @support, :end_support %></td>
    <td><%= f.calendar_date_select :end_support %></td>
  </tr>
  <%= f.person_name_fields %>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Contact <%= requirements_for @support, :contact_type_id %></td>
    <td>
      <%= f.select :contact_type_id, ContactType.select_options %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Relationship <%= requirements_for @support, :relationship_id %></td>
    <td>
      <%= f.select :relationship_id, Relationship.select_options, {:include_blank => true} %>
    </td>
  </tr>
  <%= f.address_fields %>
  <%= f.telecom_fields %>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end %>


