<h1>Welcome to popHealth</h1>

<div id="loginForm">
<%= form_tag login_url do %>
  <%= label_tag(:username, "Username") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Login") %>
  <%= warden.errors[:login] %>
<% end %>
</div>

<a href="<%= forgot_path %>">Forgot password </a> <br>
<a href="<%= register_path %>">Register for an account</a>
