<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Procedure Id</td>
    <td>
      <%=h procedure.procedure_id %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Free Text</td>
    <td>
      <%=h procedure.name %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Procedure Code</td>
    <td>
      <%=h procedure.code %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Procedure Date</td>
    <td><%=h procedure.procedure_date %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Procedure Status Code</td>
    <td><%=h procedure.procedure_status_code.description %></td>
  </tr>
  <% if @patient.editable_by? current_user -%>
    <tr class="<%= cycle("darkzebra", "lightzebra")%>">
      <td></td><td><span>
        <%= link_to_remote 'Edit', :update => "procedure#{procedure.id}",
                                   :url => edit_patient_procedure_path(patient, procedure),
                                   :method => 'get' %>
      </span><span>
        <%= link_to_remote 'Remove', :update => "procedure#{procedure.id}",
                                   :url => patient_procedure_path(patient, procedure),
                                   :confirm=>"Are you sure you wish to remove this procedure?",
                                   :method => 'delete' %>
      </span></td>
    </tr>
  <% end -%>
</table>

