<%= javascript_include_tag :defaults %>

<% if @procedure.new_record?
     procedure_div = 'procedureNew' -%>
<div id="procedureNew">
<% else
     procedure_div = "procedure#{@procedure.id}"
   end %>
   <% remote_form_for([@patient, @procedure], :update => procedure_div, :name => "procedures_form") do |f| -%>
<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Procedure Id <%= requirements_for @procedure, :procedure_id %></td>
    <td>
      <%= f.text_field :procedure_id, :onfocus => "Effect.BlindDown('uuid-#{controller.class}');", :onblur => "Effect.BlindUp('uuid-#{controller.class}');" %>
      <em><%= render :partial => '/layouts/uuid_help_text' %></em>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Free Text <%= requirements_for @procedure, :name %></td>
    <td>
      <%= f.text_field :name %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Procedure Code <%= requirements_for @procedure, :code %></td>
    <td>
      <%= f.text_field :code %>
    </td>
  </tr><tr class="<%= cycle("darkzebra", "lightzebra")%>">
  <td class="lighttext">Procedure Date <%= requirements_for @procedure, :procedure_date %></td>
    <td>
      <%= f.calendar_date_select :procedure_date %>
    </td>
  </tr>
  <tr>  
    <td class="lighttext">Procedure Status Code <%= requirements_for @procedure, :procedure_status_code_id %></td>
    <td>
      <%= f.select :procedure_status_code_id, ProcedureStatusCode.select_options %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
	<td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end %>

