<% if @immunization.new_record?
  immunization_div = 'immunizationNew' -%>
<div id="immunizationNew">
<% else
     immunization_div = "immunization#{@immunization.id}"
   end %>
   <% remote_form_for([@patient, @immunization], :update => immunization_div) do |f| -%>

<table>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Administration Date <%= requirements_for @immunization, :administration_date %></td>
    <td>
      <%= f.calendar_date_select :administration_date %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Product <%= requirements_for @immunization, :vaccine_id %></td>
    <td>
      <%= f.select :vaccine_id, Vaccine.select_options, {:include_blank => true} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Lot Number Text <%= requirements_for @immunization, :lot_number_text %></td>
    <td><%= f.text_field :lot_number_text %></td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">Patient Refusal <%= requirements_for @immunization, :refusal %></td>
    <td>
      <%= f.check_box :refusal %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td class="lighttext">No Immunization Reason <%= requirements_for @immunization, :no_immunization_reason_id %></td>
    <td>
      <%= f.select :no_immunization_reason_id, NoImmunizationReason.select_options, {:include_blank => true} %>
    </td>
  </tr>
  <tr class="<%= cycle("darkzebra", "lightzebra")%>">
    <td></td>
    <td><%= f.submit "Save" %></td>
  </tr>
</table>
<% end %>
