<div id="dashboardContainer">
<!-- add a comment -->
  <div id="header">
    <div id="breadcrumbBox">
      <ul id="breadcrumbItems">
      <li>logs</li>
      </ul>
      <%= render :partial => 'layouts/top_nav' %>
    </div><!-- end #breadcrumbBox -->
  </div><!-- end #header -->
  <div id="pageContent">
    <h1>Logs</h1>
    <table id="patientTable">
      <% @logs.each do |log| -%>
      <tr>
        <td><%= log.created_at %></td>
        <td><%= log.username %></td>
        <td><%= log.event %></td>
        <td><%= log.checksum %></td>
        <td><%= log.patient_id %></td>
      </tr>
      <% end -%>
    </table>

    <%= will_paginate @logs %>
  </div>
</div>