<div class="column span-13 last">
  <div id="template">
    <h3><%= header %></h3>
    <table id="dashboard">
      <tr valign="top">
        <th width="125">Error Type</th>
        <th>Error Message</th>
      </tr>
    
      <%  
           errors.each_with_index do |err, index| 
          
             error_id = nil
               if err.location
                 error_id = @error_mapping[err.location]
               end 
        %>
         <tr>
          <td><%= err.validator %></td>
          <td>
            <% if error_id %>
              <a style="color:#cc3300" href="javascript:scroll_to_module('error_<%=error_id%>', 1.0);" ><b><%= index %></b> <span><%= err.error_message %></span></a>
            <% else %>
              <b><%= index %>.</b> <span><%= err.error_message %></span>
            <% end %>
          </td>
        </tr>  
      <%end %> 
       
    </table>
  </div>
</div>
