<h2>XDS Query &amp; Retrieve Assignment: XDS Query Results</h2>
<% @patient.patient_identifiers.each do |pi| -%>
  <h3>Documents for <%=h pi %></h3>
  <table>
    <tr>
      <th>Author Name</th>
      <th>Format</th>
      <th>Document Id</th>
      <th>Creation Time</th>
      <th></th>
    </tr>
    <% @plan.fetch_xds_metadata(pi).each do |md| %>
      <tr>
        <td><%= md.author.person %></td>
        <td><%= md.format_code.display_name %></td>
        <td><%= md.unique_id %></td>
        <td><%= md.creation_time %></td>
        <td>
          <% form_for(:test_plan, @plan, :method => 'post') do |f| -%>
            <%= hidden_field_tag :patient_id, @patient.id %>
            <%= f.hidden_field :type %>
            <%= f.hidden_field :vendor_id %>
            <%= hidden_field_tag 'test_plan[test_type_data]', md.to_yaml %>
            <%= submit_tag "Assign" %>
          <% end -%>
        </td>
      </tr>
    <% end -%>
  </table>
<% end -%>

