<% @page_header = "Provide and Register C32 based on template for patient #{@patient.name}" %>
<% form_for(:test_plan, @plan, :method => 'post') do |f| -%>
  <%= hidden_field_tag :patient_id, @patient.id %>
  <%= f.hidden_field :type %>
  <%= f.hidden_field :vendor_id %>
<table>
  <%= render :partial => 'test_plans/create_xds_form' %>
  <tr>
    <td></td>
    <td><input type="submit" value="Assign"/> or <%=link_to 'Back', patients_path %> </td>
  </tr>
</table>
<% end -%>
