<%
  doc = @test_plan.clinical_document.as_xml_document
  errors = @test_plan.content_errors
  @error_mapping = match_errors(errors,doc)
%>
<!-- Start Content -->
<div class="column span-6 append-1">
  <div id="results">
    <% if errors.empty? && @test_plan.clinical_document %>
      <div class="pass">PASS</div>
    <% else %>
      <div class="fail">FAIL</div>
    <% end %>
    <div class="info">
      <h5>Inspection ID: <%= @test_plan.vendor.public_id %></h5>
      <p>Test Result Summary</p>
      <div class="widget">
        <div class="left on">
          <% if @test_plan.clinical_document %>
            <span class="number"><%= @test_plan.content_errors.count(:conditions=>{:inspection_type=>::XML_VALIDATION_INSPECTION}) %></span> XML Validation Errors
          <% else %>
            Unrecoverable XML Validation Error
          <% end %>
        </div>
      </div>
      <div class="widget">
        <div class="left on">
          <span class="number"><%= @test_plan.content_errors.count(:conditions=>{:inspection_type=>::CONTENT_INSPECTION}) %></span> Content Inspection Warnings
        </div>
      </div>
      <% if @test_plan.umls_enabled? -%>
      <div class="widget">
        <div class="left on">
          <% if @test_plan.clinical_document %>
            <span class="number"><%= @test_plan.content_errors.count(:conditions=>{:inspection_type=>::UMLS_CODESYSTEM_INSPECTION}) %></span> UMLS Code Warnings
          <% end %>
        </div>
      </div>
      <% end -%>
      <table id="details">
        <tr>
          <td class="lighttext">Test Date</td>
          <td><%= @test_plan.updated_at %></td>
        </tr>
        <tr>
          <td class="lighttext">Test Proctor</td>
          <td><a href="mailto:<%= @test_plan.user.email %>">
                <%= @test_plan.user.first_name %> 
                <%= @test_plan.user.last_name %></a>
          </td>
        </tr>
        <% unless @test_plan.umls_enabled? %>
        <tr>
          <td class="lighttext">UMLS Coded Value Testing</td>
          <td>Disabled</td>
        </tr>
        <% end -%>
      </table>
    </div>
  </div>
</div>
  <%= render :partial=>"error_list",:locals=>{:header=>"XML Validation Results", :errors=>@test_plan.content_errors.find_all_by_inspection_type(::XML_VALIDATION_INSPECTION)} %>
  <%= render :partial=>"error_list",:locals=>{:header=>"Content Inspection Results", :errors=>@test_plan.content_errors.find_all_by_inspection_type(::CONTENT_INSPECTION)} %>
  <%= render :partial=>"error_list",:locals=>{:header=>"UMLS Validation Results", :errors=>@test_plan.content_errors.find_all_by_inspection_type(::UMLS_CODESYSTEM_INSPECTION)} %>
<!-- Start Pretty XML -->
<div class="column span-19 append-1">
  <h3>Vendor Generated XML</h3>
  <hr/>
  <%= render :partial => "node" , :locals => {:doc => doc} %>
</div>
<!-- End Pretty XML -->
