<!-- Start Content -->
<div class="column span-6 append-1">
  <div id="results">
    <% if !@test_plan.pending? -%>
      <% if @test_plan.passed? -%>
        <div class="pass">PASS</div>
      <% else %>
        <div class="fail">FAIL</div>
      <% end %>
      <div class="info">
        <h5>Inspection ID: <%= @test_plan.vendor.public_id %></h5>
        <% if @test_plan.class.name == "PixFeedPlan" %>
        <p>Test Result Summary</p>
        <div class="widget">
          <div class="left on">
            <table border="0">
              <tr>
                <td><span class="number"><% if @test_plan.passed? %>0<% else %>1<% end %></span></td>
                <td>PIX Feed Errors</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="widget">
          <div class="left on">
            <table>
              <tr>
                <td><span class="number">0 </span></td>
                <td>PIX Feed Warnings</td>
              </tr>
             </table>
         </div>
        </div>
        <% end %>
        <table id="details">
          <tr>
            <td class="lighttext">Test Date</td>
            <td><%= @test_plan.updated_at %></td>
          </tr>
          <tr>
            <td class="lighttext">Test Proctor</td>
            <td><a href="mailto:<%= @test_plan.user.email %>">
                  <%= @test_plan.user.first_name %>
                  <%= @test_plan.user.last_name %></a>
            </td>
          </tr>
        </table>
      </div>
    <% else %>
    <div class="pass">Assign Result</div>
    <div class="info">
      <h5>Inspection ID: <%= @test_plan.vendor.public_id %></h5>
      <p>Test Result</p>
        <table id="details">
        <tr>
          <% form_tag(mark_test_plan_url(@test_plan), :method => 'post') do %>
            <td><%= select_tag :state, %w[pass fail].map{|s|"<option>#{s}</option>"} %>
            <%= submit_tag "Assign" %> <br/><br/></td>
          <% end %>
        </tr>
        </table>
      <table id="details">
        <tr>
          <td class="lighttext">Test Date</td>
          <td><%= @test_plan.updated_at %></td>
        </tr>
        <tr>
          <td class="lighttext">Test Proctor</td>
          <td><a href="mailto:<%= @test_plan.user.email %>">
                <%= @test_plan.user.first_name %>
                <%= @test_plan.user.last_name %></a>
          </td>
        </tr>
      </table>
    </div>

    <% end %>
  </div>
<%# XXX https://sourceforge.net/tracker/index.php?func=detail&aid=2684053&group_id=205665&atid=994554 %>
<%# if @test_plan.test_result && @test_plan.test_result.result == "FAIL"%>
    <h5><%= link_to 'View HL7 Message Log', message_logs_url, :popup => ['new window', 'width=1000, height=500, left = 450, top = 100, resizable=false, scrollbars=yes' ] %></h5>
  <%# end %>
</div>
<div class="column span-13 last">
  <div id="template">
    <h3>Patient Details In PIX Manager</h3><br />
    <table id="dashboard">
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td><h3><%=h @patient.name %></h3></td>
        <td><h5>Person Information</h5></td>
      </tr>
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td class="lighttext">Person Identifer Global</td>
        <td><%=h @patient.registration_information.affinity_domain_identifier %></td>
      </tr>
    <% @patient.patient_identifiers.each do |patient_identifier| %>
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td class="lighttext">Person Identifer Local</td>
        <% if @test_plan.passed? -%>
          <td bgcolor="yellow"><%=h patient_identifier %></td>
        <% else %>
          <td><%=h patient_identifier %></td>
        <% end %>
      </tr>
    <% end %>
    <% if @test_plan.class.name == "PixFeedPlan" %>
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td class="lighttext">Person Identifer Expected</td>
        <td bgcolor="yellow"><%=h @test_plan.expected.identifier_and_domain %></td>
      </tr>
    <% end %>
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td class="lighttext">Prefix</td>
        <td><%=h @patient.registration_information.person_name.name_prefix %></td>
      </tr>
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td class="lighttext">First name</td>
        <td><%=h @patient.registration_information.person_name.first_name %></td>
      </tr>
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td class="lighttext">Last name</td>
        <td><%=h @patient.registration_information.person_name.last_name %></td>
      </tr>
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td class="lighttext">Suffix</td>
        <td><%=h @patient.registration_information.person_name.name_suffix %></td>
      </tr>
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td class="lighttext">Date of birth</td>
        <td><%=h @patient.registration_information.date_of_birth %></td>
      </tr>
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td class="lighttext">Religion</td>
        <td><%=h @patient.registration_information.religion.name %></td>
      </tr>
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td class="lighttext">Marital status</td>
        <td><%=h @patient.registration_information.marital_status.name %></td>
      </tr>
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td class="lighttext">Gender</td>
        <td><%=h @patient.registration_information.gender.name %></td>
      </tr>
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td class="lighttext">Race</td>
        <td><%=h @patient.registration_information.race.name %></td>
      </tr>
      <tr class="<%= cycle("darkzebra", "lightzebra")%>">
        <td class="lighttext">Ethnicity</td>
        <td><%=h @patient.registration_information.ethnicity.name %></td>
      </tr>
    </table>
  </div>
</div>
