<div class="column span-6 append-1">
  <h3>Inspection Results</h3>
  <div id="results">
    <% if @test_plan.passed? -%>
      <div class="pass">PASS</div>
    <% else -%>
      <div class="fail">FAIL</div>
    <% end -%>
    <div class="info">
      <h5>Inspection ID: <%= @test_plan.vendor.public_id %></h5>
      <p>Required Compliance</p>
      <div class="widget">
        <div class="left on">
          <div class="visualIndication1">
            <div><span class="portion" style="width:23px"></span></div>
          </div>
          <span class="number"><%= @test_plan.content_errors.size %></span> violations
        </div>
      </div>
      <table id="details">
        <tr>
          <td class="lighttext">Test Date</td>
          <td><%= @test_plan.updated_at %></td>
        </tr>
        <tr>
          <td class="lighttext">Test Proctor</td>
          <td><a href="mailto:<%= @test_plan.user.email %>">
                <%= @test_plan.user.first_name %> 
                <%= @test_plan.user.last_name %></a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="column span-13 last">
  <div class="inspection-results">
    <h3>Validation Results</h3>
    <dl>
      <dt>Test</dt><dd><%= @test_plan.test_name %></dd>
      <dt>Validator</dt><dd><%= @test_plan.validators.join(', ') %></dd>
    </dl>
    <table id="dashboard">
      <tr valign="top">
        <th>Section</th>
        <th>Field</th>
        <th>Message</th>
      </tr>
      <% @test_plan.content_errors.each do |error| %>
        <tr class="<%= cycle 'darkzebra','lightzebra' %>">
          <td><%= error.section %></td>
          <td><%= error.field_name %></td>
          <td><%= error.error_message %></td>
        </tr>
      <% end -%>
    </table> 
  </div>
</div>
