<div class="sidebar" id="filters">
  <h3>Filters</h3>
  <div class="panel-group" id="measureSelectors">
    {{#collection item-context=categoryFilterContext}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#measureSelectors" href="#category{{@cid}}">
              {{category}}
            </a>
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
          </div>
        </div>
        <div id="category{{@cid}}" class="panel-collapse collapse">
          <div class="panel-body measureItemList">
            <div class="checkbox">
              <label>
                  <input type="checkbox" class="all"{{#if selected}} checked{{/if}}>
                  Select All
              </label>
            </div>
            {{#collection measures item-context=../measureFilterContext}}
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="individual"{{#if selected}} checked{{/if}}>
                  {{name}}
                  {{!-- <%= check_box_tag :measure_id, measure["id"], is_selected?(measure['id'], current_user.selected_measures), {id: nil, 'data-measure-id' => measure['id'], 'data-sub-measures' => measure['sub_ids'].join(',')} %><%= measure['name'] %> --}}
                </label>
              </div>
            {{/collection}}
          </div>
        </div>
      </div>
    {{/collection}}
  </div>
</div>

<div class="main">
  <div class="main-heading">
    <h1 class="title">Measures</h1>
    <a href="/api/reports/qrda_cat3.xml" class="export-btn"><i class="glyphicon glyphicon-download-alt"></i> Export</a>
  </div>
  {{#collection selectedCategories}}
    <div class="category" style="">
      <h2 class="category-title">{{category}}</h2>
      <div class="category-percent">
        <div class="title-circle">%</div>
      </div>
      <div class="category-fraction">Numerator/Denominator</div>
    </div>
  </div>

    {{#collection measures}}
    {{!-- <%npi_param = (@selected_provider ? "?npi=#{@selected_provider.npi}" : '')%> --}}
      {{#collection submeasures item-view="DashboardSubmeasureView"}}
        <div class="measure">
          <div class="measure-title" data-measure-sub="{{sub_id}}">
            {{#if isPrimary}}
              <a href="#measures/{{id}}{{#if sub_id}}/{{sub_id}}{{/if}}" data-placement="bottom" data-content="{{description}}" data-trigger="hover focus" rel="popover">{{name}}</a>
            {{/if}}
          </div>
          <div class="measure-subtitle">
            {{#if short_subtitle}}
              <a href="#measures/{{id}}/{{sub_id}}">{{short_subtitle}}</a>
            {{/if}}
          </div>
          {{view "ResultsView" model=query id=id sub_id=sub_id}}
        </div>
      {{/collection}}
    {{/collection}}
  {{/collection}}
</div>
