{{#if continuous_variable}}
<div class="percent-listing">
      <span class="percentage">{{observ}}</span>
</div>
  <a href="#measures/{{id}}{{#if sub_id}}/{{sub_id}}{{/if}}{{#if provider_id}}/providers/{{provider_id}}{{/if}}/patient_results" class="patient-btn pull-right">Patients</a>
{{else}}
<div class="percent-listing">
  {{#if shouldDisplayPercentageVisual}}
    <input type="text" value="{{performanceRate}}" class="dial" data-readOnly="true" data-width="80" data-height="80" data-thickness=".1" data-fgColor="#4B979D" data-inputColor="#444" data-font="Helvetica Neue, Roboto, Helvetica, Arial, sans-serif" data-font-weight="300">
  {{else}}
    <span class="percentage">{{performanceRate}}<small>%</small></span>
  {{/if}}
</div>

<div class="row-remainder">
  <div class="fraction-listing pull-left">
    <div class="numerator">{{formatNumeral numerator '0.[0]a'}}</div>
    <div class="denominator">{{formatNumeral performanceDenominator '0.[0]a'}}</div>
  </div>

  <div class="measure-type pull-left">
    <i class="{{#if episode_of_care}}fa fa-stethoscope{{else}}glyphicon glyphicon-user{{/if}}"></i>
  </div>

  <div class="pop-chart pull-left"></div>

  <a href="#measures/{{id}}{{#if sub_id}}/{{sub_id}}{{/if}}{{#if provider_id}}/providers/{{provider_id}}{{/if}}/patient_results" class="patient-btn pull-right">Patients</a>
</div>
{{/if}}