<h1>Editing document_location</h1>

<%= error_messages_for :document_location %>

<% form_for(@document_location) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Xpath expression</b><br />
    <%= f.text_field :xpath_expression %>
  </p>

  <p>
    <b>Section</b><br />
    <%= f.text_field :section %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>Doc type</b><br />
    <%= f.text_field :doc_type %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @document_location %> |
<%= link_to 'Back', document_locations_path %>
