<h1>Listing document_locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Xpath expression</th>
    <th>Description</th>
    <th>Doc type</th>
  </tr>

<% @document_locations.each do |document_location| -%>
  <tr>
    <td><%=h document_location.name %></td>
    <td><%=h document_location.xpath_expression %></td>
    <td><%=h document_location.description %></td>
    <td><%=h document_location.doc_type %></td>
    <td><%=h document_location.section %></td>
    <td><%= link_to 'Show', document_location %></td>
    <td><%= link_to 'Edit', edit_document_location_path(document_location) %></td>
    <td><%= link_to 'Destroy', document_location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end -%>
</table>

<br />

<%= link_to 'New document_location', new_document_location_path %>
