<div class="conjunction">
  <div class="conjunction-inner">
    <% if conjunction %>
      <span class="<%= conjunction['conjunction'] %>"><%= conjunction['conjunction'] %></span>
      <b><%= conjunction['standard_category'].try(:titleize) %></b>
      <% if conjunction['value'] %>
        <% if conjunction['value']['low'] %>
          <%= conjunction['value']['low']['value']%>
          <<% if conjunction['value']['low']['inclusive?'] %>=<% end %>
        <% end %>
      <% end %>
      <%= conjunction['description'] %>
      <% if conjunction['value'] %>
        <% if conjunction['value']['high'] %>
          <%= conjunction['value']['high']['value']%>
          <<% if conjunction['value']['high']['inclusive?'] %>=<% end %>
        <% end %>
      <% end %>
      <%= render partial: 'conjunction', collection: conjunction['items'] %>
    <% end %>
  </div>
</div>