<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-target="#filter-<%=type%>" data-parent="#filterSelectors">
      <i class="icon-chevron-right pull-left"></i>
      <% label ||= type.capitalize %>
      <div><%= label %></div>
      
    </a>
  </div>

  <div id="filter-<%=type%>" class="collapse accordion-body">
    <ul class="accordion-inner filterItemList"
    <li>
      <label class='checkbox'>
          <input name="all" type="checkbox" checked="true" class="all" />
          All
      </label>
    </li>
    
    <% filters.each do |filter| %>
      <li>
          <label class="checkbox">
              <%= check_box_tag :filter_id, filter.id, true, {id: nil, 'data-filter-type' => type, 'data-filter-value' => filter.id, disabled: true} %>
              <%= filter.name %>
          </label>
      </li>
    <% end %>
    </ul>
  </div>
</div>