<tr id="measure<%= measure['id'] %>">
  <td><div class="tableMeasureTitle"><span><%= measure['name'] %></span></div></td>
  <td>
      <% subs_iterator(measure['subs']) do |sub_id| -%>
			<div class="tableMeasureCtrl" data-measure-id="<%= measure['id'] %>" data-measure-sub-id="<%= sub_id %>">
					<div class="measureStats">
	<div class="inline-fraction">
					<span class="numeratorValue"><%= value_or_default(measure['id'], sub_id, results, :numerator, 0) %></span>
					<span class="separator"></span>
					<span class="denominatorValue"><%= value_or_default(measure['id'], sub_id, results, :denominator, 0) %></span>
				</div>
				<span> = <span style="margin-left:5px;" class="measurePopulationPercentage"><%= percentage(measure['id'], sub_id, results)%>%</span></span>
		</div>
		<div class="inline-bar">
		    	<div class="tableBar">
    	        	<div class="tableBarNumerator" style="width:<%= numerator_width(measure['id'], sub_id, results)%>"><span></span></div>
        	    	<div class="tableBarDenominator" style="width:<%= denominator_width(measure['id'], sub_id, results)%>"><span></span></div>
				</div>

				
				<%= link_to 'patients', patients_url(measure['id'], sub_id), :class => 'tableEdit'%>
				<span class="sep">|</span>
				<%= link_to 'parameters', measure_url(measure['id'], sub_id), :class => 'tableEdit'%>
			</div>
			</div>
	
      <% end -%>
  </td>
</tr>