<tr id="measure<%= measure['id'] %>">
  <td>
    <div class="tableMeasureTitle"><span class="vtip" title="<%= measure['description'] %>"><%= measure['name'] %></span></div>
  </td>
  <td>
    <% subs_iterator(measure['subs']) do |sub_id| -%>
    <%= measure_stats_div(measure['id'], sub_id, @effective_date, measure['filters']) do |results| %>
      <div class="measureStats">
        <% if (sub_id!=nil) %>
        <span class="measureShortSubtitle"><%= measure['short_subtitles'][sub_id] %></span>
        <% else %>
        <span class="measureShortSubtitle"></span>
        <% end %>
        <span style="margin-left:5px;" class="measurePopulationPercentage"><%= percentage(results)%>%</span>
        <%= render :partial => "shared/fraction", locals: {numerator: value_or_default(results, 'numerator', 0), denominator: value_or_default(results, 'denominator', 0)}%>
      </div>
      <div class="inline-bar">
        <%# raise results.inspect %>
        <%= render :partial => "shared/table_bar", locals: {numerator: results['numerator'], denominator: results['denominator'], patient_count: results['population']}%>
        <div class="links">
          <%= link_to 'patients', patients_url(measure['id'], sub_id), :class => 'tableEdit'%>
          <%= link_to 'parameters', measure_url(measure['id'], sub_id), :class => 'tableEdit'%>
        </div>
      </div>
    </div>
    <% end
      end -%>
  </td>
</tr>