<div class="measureDetailTable">
	<%= content_for :export_links %>
	<% measureTitle = "#{@definition['endorser']}#{@definition['id']} #{@definition['name']}" %>
	<% if @definition['sub_id'] %>
  <%   measureTitle = "#{measureTitle} - (#{@definition['sub_id']}) #{@definition['subtitle']}" %>
  <% end %>

	<dl>
    <dt style="line-height:2.5em">Measure Name:</dt>
    <dd><h1 id="measureTitleText"><%= measureTitle %></h1></dd>
  </dl>
  <dl>
    <dt>Reporting Period:</dt>
    <dd>
      <span id="measurementPeriodStartDate"><%= Time.at(@period_start).strftime("%m/%d/%Y") %> - <%= Time.at(@effective_date).strftime("%m/%d/%Y") %></span>
    </dd>
  </dl>
  <dl>
    <dt>Description:</dt>
     <dd>
       <span id="measureDescText"><%= @definition['description'] %></span>
     </dd>
  </dl>
  <div class="clear"></div>
</div><!-- end #measureDetailTable -->