<%npi_param = (@selected_provider ? "?npi=#{@selected_provider.npi}" : '')%>
<% subs_iterator(measure_TEMP['subs']) do |sub| %>
<div class="row" style="<%=display_row(measure_TEMP['id'], current_user.selected_measures)%>">
  <div class="measure" data-measure="<%=measure_TEMP['id']%>" data-measure-sub="<%= sub['sub_id']%>">
      <% if sub['sub_id'].nil? || sub['sub_id'] == 'a' %>
        <div data-placement="bottom" data-original-title="<%=measure_TEMP['description']%>" rel="tooltip">
          <%= link_to measure_TEMP['name'], measure_url(measure_TEMP['id'], sub['sub_id'])+npi_param%>
        </div>
      <% end %>
  </div>
  <div class="measure-subtitle">
    <% if (can? :manage, :providers) %>
      <%= link_to("#{sub['short_subtitle']}", measure_path(measure_TEMP['id'], sub['sub_id'])) %>
    <% else %>
      <%= sub['short_subtitle'] %>
    <% end %>
  </div>
  <div class="percent-listing">
    <div class="circle-listing">
      0%
    </div>
  </div>
  <div class="fraction-listing">
    <div class="numerator">0</div>
    <div class="denominator">0</div>
  </div>
  <%= link_to patients_url(measure_TEMP['id'], sub['sub_id'])+npi_param, class: 'patient-btn' do %>
    <i class="glyphicon glyphicon-user"></i> Patients
  <% end %>
</div>
<% end %>