<% subs_iterator(measure['subs']) do |sub_id| -%>
  <tr id="measure<%= measure['id'] %>">
<%= measure_stats_div(measure['id'], sub_id, @effective_date, measure['filters']) do |results| %>
    <td class="percent"><div class="measureProviderPopulationPercentage"><%= percentage(results)%>%</div></td>
<% end -%>
    <td>
      <div class="tableMeasureTitle">
        <span class="vtip" title="<%= measure['description'] %>"><%= link_to measure['name'], providers_measure_path(measure['id'], sub_id )%></span>
        <% if (sub_id!=nil) %>
          <span class="measureShortSubtitle"><%= link_to measure['short_subtitles'][sub_id], providers_measure_path(measure['id'], sub_id )%></span>
        <% else %>
          <span class="measureShortSubtitle"></span>
        <% end %>
        <br/>
                <div class="links">
            <%= link_to 'patients', patients_url(measure['id'], sub_id), :class => 'tableEdit'%> | 
            <%= link_to 'parameters', measure_url(measure['id'], sub_id), :class => 'tableEdit'%>
          </div>
      </div>
    </td>
    <td>
      <%= measure_stats_div(measure['id'], sub_id, @effective_date, measure['filters']) do |results| %>
        <div class="measureStats">
          <%= render :partial => "shared/fraction", locals: {numerator: value_or_default(results, 'numerator', 0), denominator: value_or_default(results, 'denominator', 0)}%>
        </div>
        <div class="inline-bar">
          <%# raise results.inspect %>
          <%= render :partial => "shared/table_bar", locals: {numerator: results['numerator'], denominator: results['denominator'], patient_count: results['population'], exclusions: results['exclusions']}%>
        </div>
      </div>
      <% end -%>
    </td>
  </tr>
<% end -%>
