<% subs_iterator(measure['subs']) do |sub| %>
<div data-measure="<%=measure['id']%>" data-measure-sub="<%= sub['sub_id']%>" style="<%=display_row(measure['id'], current_user.selected_measures)%>" class="measure row-fluid">
  <div class="span4 measure-name">
    <% if sub['sub_id'].nil? || sub['sub_id'] == 'a' %>
      <div data-placement="bottom" data-original-title="<%=measure['description']%>" rel="tooltip">
        <% if (can? :manage, :providers) %>
          <%= link_to(measure['name'], "#{measure_path(measure['id'], sub['sub_id'])}/providers") %>
        <% else %>
          <span><%= measure['name'] %></span>
        <% end %>
      </div>
     <% end %>
  </div>
  <div class="measure-subtitle span4">
    <% if (can? :manage, :providers) %>
      <%= link_to("#{sub['short_subtitle']}", "#{measure_path(measure['id'], sub['sub_id'])}/providers") %>
    <% else %>
      <%= sub['short_subtitle'] %>
    <% end %>
  </div>
  <div class="percentage span1">
    <%= image_tag "loading_bar.gif" %>
  </div>
  <div class="fraction span1">
    <%= render :partial => "shared/fraction", locals: {numerator: 0, denominator: 0} %>
  </div>
  <div class="span2">
    <%npi_param = (@selected_provider ? "?npi=#{@selected_provider.npi}" : '')%><%= link_to 'parameters', measure_url(measure['id'], sub['sub_id'])+npi_param%><br><%= link_to 'patients', patients_url(measure['id'], sub['sub_id'])+npi_param%>
  </div>
</div>

<% end %>