<% if APP_CONFIG['disable_provider_filters'] %>
<h5>
  Teams
</h5>
<ul class="filterItemList">
  <% @teams.each do |team| %>
  <li>
      <label class="checkbox">
          <%= check_box_tag :team_id, team.id, true, {id: nil, 'data-filter-type' => 'team', 'data-filter-value' => team.id} %>
          <%= team.name %>
      </label>
  </li>
  <% end %>
</ul>
<% elsif @providers_by_team %>
<h5>
  Providers
</h5>
<div id="providerSelectors" class="accordion">
<% @providers_by_team.each do |team, providers| %>
  <% if @providers_by_team.size != 1 || !providers.empty? %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#providerSelectors" data-target="#team<%=team.id%>">
        <i class="icon-chevron-right pull-left"></i> 
        <div><%= team.name %></div>
      </a>
    </div>
    <div  id="team<%=team.id%>" class="accordion-body collapse">
      <ul class="accordion-inner filterItemList">
      
      <li>
        <label class='checkbox'>
            <input name="all" class="all" type="checkbox" checked="true" />
            All
        </label>
      </li>
      
      <% providers.each do |provider| %>
        <li>
            <label class="checkbox">
                <%= check_box_tag :provider_id, provider.id, true, {id: nil, 'data-filter-type' => 'provider', 'data-filter-value' => provider.id , disabled: true} %>
                <%= provider.full_name %>
            </label>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
  <% else %>
    None
  <% end %>
  <% end %>
</div>
<% end %>