<div class="left-sidebar" id="filters">
  <h3>Filters</h3>
  <div class="panel-group" id="measureSelectors">
    <% @categories.each_with_index do |categorized, idx| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#measureSelectors" href="#category<%=idx%>">
              <%= categorized['category'] %>
            </a>
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
          </div>
        </div>
        <div id="category<%=idx%>" class="panel-collapse collapse">
          <div class="panel-body measureItemList">
            <div class="checkbox">
              <label>
                  <input name="all" type="checkbox" class="all">
                  Select All
              </label>
            </div>
            <% categorized['measures'].each do |measure| -%>
              <div class="checkbox">
                <label>
                  <%= check_box_tag :measure_id, measure["id"], is_selected?(measure['id'], current_user.selected_measures), {id: nil, 'data-measure-id' => measure['id'], 'data-sub-measures' => measure['sub_ids'].join(',')} %><%= measure['name'] %>
                </label>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h3>Demographics</h3>
  <div class="panel-group" id="filterSelectors">
    <%= render partial: 'filters_TEMP', locals: {filters: @races, type: "race"} %>
    <%= render partial: 'filters_TEMP', locals: {filters: @ethnicities, type: "ethnicity"} %>
    <%= render partial: 'filters_TEMP', locals: {filters: @genders, type: "gender"} %>
    <%= render partial: 'filters_TEMP', locals: {filters: @languages, type: "language"} %>
  </div>  
</div>

<div class="main">
  <div class="main-heading">
    <h1 class="main-head">Measures</h1>
    <span class="patient-size">Patients: <%= @patient_count %></span>
    <% if (@selected_provider || !can?(:manage, :providers)) %>   
      <a class="export-btn" href="#">Export</a>
    <% else %>
      <%= link_to measures_qrda_cat3_path(format: :xml), class: 'export-btn' do %>
        <i class="glyphicon glyphicon-download-alt"></i> Export
      <% end %>
    <% end %>
  </div>
  <% @categories.each do |categorized| %>
    <div class="category" style="<%= display_header(categorized['measures'], current_user.selected_measures) %>">
      <h2 class="category-title">
        <%=categorized['category'] %>
      </h2>
      <div class="category-header-percent">
        <div class="title-circle">%</div>
      </div>
      <div class="category-header-fraction">
        <div>Numerator/</div>
        <div>Denominator</div>
      </div>
    </div>
    <%= render :partial => "measure_TEMP", :collection => categorized['measures'] %>
  <% end %>
</div>