 <table id="patientTable">
  	<thead>
  		<tr>
  			<th name="last">Last</th>
  			<th name="first">First</th>
  			<th name="birthdate">Age</th>
  			<th name="birthdate">DoB</th>
  			<th name="gender">Gender</th>
  		</tr>
  	</thead>
      <tbody>
          <% @records.each do |patient| -%>
              <tr class="antiNumerator">
                  <td><%= patient['last'] %></td>
                  <td><%= patient['first'] %></td>
                  <td><%= age_from_time(patient['birthdate']) || 'UNK' %></td>
                  <td><%= dob(patient['birthdate'])  || 'UNK' %></td>
                  <td><%= patient["gender"] || "UNK" %></td>
              </tr>
          <% end -%>  
      </tbody>
  </table>
<div>  
  <!-- pagination to go here -->
</div>

<script>

$('#patientTable >thead >tr > th').click(function(){

   if ($(this).attr('name') != sort){
     sort=$(this).attr('name');
   }
   else {
     sort_ascending = !sort_ascending;
   }
   popHealth.reloadTable();
});

</script>