 <table id="patientTable">
    <thead>
       <tr>
         <th name="last">Last</th>
         <th name="first">First</th>
         <th name="birthdate">Age</th>
         <th name="birthdate">DoB</th>
         <th name="gender">Gender</th>
       </tr>
     </thead>
     <tbody>
     <% @page_results.each do |patient_container| -%>
       <tr class="antiNumerator">
         <% patient = patient_container['value'] -%>
         <td><%= patient['last'] %></td>
         <td><%= patient['first'] %></td>
         <td><%= age_from_time(patient['birthdate']) || 'UNK' %></td>
         <td><%= dob(patient['birthdate'])  || 'UNK' %></td>
         <td><%= patient["gender"] || "UNK" %></td>
       </tr>
     <% end -%>
     </tbody>
  </table>
<div>
  <!-- pagination to go here -->
  <%= will_paginate @page_results%>
</div>

<script>

$('#patientTable >thead >tr > th').click(function(){

   if ($(this).attr('name') != sort){
     sort=$(this).attr('name');
   }
   else {
     sort_ascending = !sort_ascending;
   }
   popHealth.reloadTable();
});

$(".pagination > a").click(function(){  
  var url = this.href;
  this.href="#";
  $.ajax({ url:  url,
             type:"GET",
             dataType: 'html',
             success: function(res){
               $('#patientTableContainer').html(res);
             },
             error: function(xhr, err) {
                 alert("fix this");
             }
           });
return false;
});
</script>