 <table id="patientTable">
    <thead>
       <tr>
         <th name="patient_id">Patient ID</th>
         <th name="last">Last</th>
         <th name="first">First</th>
         <th name="birthdate">Age</th>
         <th name="birthdate">DoB</th>
         <th name="gender">Gender</th>
         <th name="excluded">Status</th>
       </tr>
     </thead>
     <tbody>
     <% @page_results.each do |patient_container| -%>
       <tr class="antiNumerator">
         <% patient = patient_container['value'] -%>
         <td><%= link_to (patient['medical_record_id'] || 'UNK'), url_for(controller: :patients, action: :show, id: patient_container['value']['patient_id']) %></td>
         <td><%= patient['last'] %></td>
         <td><%= patient['first'] %></td>
         <td><%= age_from_time(patient['birthdate']) || 'UNK' %></td>
         <td><%= dob(patient['birthdate']) || 'UNK' %></td>
         <td><%= patient["gender"] || "UNK" %></td>
<!--         <td><%= button_to (patient['manual_exclusion'] ? 'Y' : 'N'), url_for(controller: :patients, action: :toggle_excluded, id: patient['medical_record_id'], measure_id: patient['measure_id'], sub_id: patient['sub_id']) %></td>-->
         <td>
           <%= patient['manual_exclusion'] ? "Excluded [#{patient['manual_exclusion_rationale']}]" : '' %>
           <button class="exclude" 
               data-link="<%= url_for(controller: :patients, action: :toggle_excluded, id: patient['medical_record_id'], measure_id: patient['measure_id'], sub_id: patient['sub_id']) %>"
               data-title="<%= patient['manual_exclusion'] ? 'Include Patient' : 'Exclude Patient' %>">
             <%= patient['manual_exclusion'] ? 'Include' : 'Exclude' %>
           </button>
         </td>
       </tr>
     <% end -%>
     </tbody>
  </table>
<div>
  <!-- pagination to go here -->
  <%= will_paginate @page_results%>
</div>
<div id="dialog-form" title="Exclude Patient">
	<form>
	<fieldset>
		<label for="rationale">Rationale</label>
		<input type="text" name="rationale" id="rationale" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
</div>

<script>

$('#patientTable >thead >tr > th').click(function(){

   if ($(this).attr('name') != sort){
     sort=$(this).attr('name');
   }
   else {
     sort_ascending = !sort_ascending;
   }
   popHealth.reloadTable();
});

$(".pagination > a").click(function(){  
  var url = this.href;
  this.href="#";
  $.ajax({ url:  url,
             type:"GET",
             dataType: 'html',
             success: function(res){
               $('#patientTableContainer').html(res);
             },
             error: function(xhr, err) {
                 alert("fix this");
             }
           });
  return false;
});

var rationale = $( "#rationale" ),
  allFields = $( [] ).add( rationale );

$( "#dialog-form" ).dialog({
  autoOpen: false,
  height: 175,
  width: 350,
  modal: true,
  buttons: {
    Update: function() {
        $.ajaxSetup({async:false});
        $.post(
          $(this).data("link"),
          {rationale: rationale.val()},
          function(data) {
            window.location.reload();
          }
        );
        
        $( this ).dialog( "close" );
      },
    Cancel: function() {
      $( this ).dialog( "close" );
    }
  },
  close: function() {
    allFields.val( "" );
  }
});

$( ".exclude" )
  .button()
  .click(function() {
    $( "#dialog-form" ).data("link", $(this).data("link")).dialog("option", "title", $(this).data().title).dialog("open");
});
</script>