<% content_for :head do %>
<script type="text/javascript" charset="utf-8">
  <% if @selected_provider %>
    Page.npi = '<%=@selected_provider.npi%>'
  <% end %>
  Page.onLoad = Dashboard.onLoad;

</script>
<% end -%>

<div class="left-sidebar" id="filters">
  <h1>Filters</h1>
  <% @categories.each_with_index do |categorized, idx| %>
    <div class="panel-group" id="measureSelectors">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#measureSelectors" href="#category<%=idx%>">
              <%= categorized['category'] %>
            </a>
          </h4>
        </div>
        <div id="category<%=idx%>" class="panel-collapse collapse">
          <div class="panel-body">
            <% categorized['measures'].each do |measure| -%>
              <div class="checkbox">
                <label>
                  <%= check_box_tag :measure_id, measure["id"], is_selected?(measure['id'], current_user.selected_measures), {id: nil, 'data-measure-id' => measure['id'], 'data-sub-measures' => measure['sub_ids'].join(',')} %><%= measure['name'] %>
                </label>
              </div>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <h1>Providers</h1>
  <div class="checkbox">
    <label>
      <input type="checkbox" checked="" value="glyphicons.less">
      ALL VA
    </label>
  </div>
  <h1>Demograph</h1>
  <div class="panel-group" id="filterSelectors">
    <%= render partial: 'filters_TEMP', locals: {filters: @races, type: "race"} %>
    <%= render partial: 'filters_TEMP', locals: {filters: @ethnicities, type: "ethnicity"} %>
    <%= render partial: 'filters_TEMP', locals: {filters: @genders, type: "gender"} %>
    <%= render partial: 'filters_TEMP', locals: {filters: @languages, type: "language"} %>
  </div>  
</div>
<div class="main">
  <div class="main-heading">
    <h1 class="main-head">Measures</h1>
  </div>
  <div class="col-lg-2">
    <% if (@selected_provider || !can?(:manage, :providers)) %>   
      <a class="btn btn-primary" href="#">Export Report</a>
    <% else %>
      <%= link_to measures_qrda_cat3_path(format: :xml), class: 'btn btn-primary' do %>
        <i class="icon-download-alt"></i> Export Report
      <% end %>
    <% end %>
  </div>


  <% @categories.each do |categorized| %>
    <div class="category" style="<%= display_header(categorized['measures'], current_user.selected_measures) %>">
      <div class="category-title">
        <h2><%=categorized['category'] %></h2>
      </div>
      <div class="category-header-percent">
        <div class="title-circle"><h2>%</h2></div>
      </div>
      <div class="category-header-fraction">
        <h4>Numerator/Denominator</h4>
      </div>
    </div>
    <%= render :partial => "measure_TEMP", :collection => categorized['measures'] %>
  <% end %>
</div>