<% content_for :head do %>
<script type="text/javascript" charset="utf-8">
  <% if @selected_provider %>
    Page.npi = '<%=@selected_provider.npi%>'
  <% end %>
  Page.onLoad = Dashboard.onLoad;

</script>
<% end -%>
  
  <div id="pageContent" class="row-fluid">
     <div id="providerReports" class="span2">
      <%#= @categories.to_a %>
    <h5>
      Measures
    </h5>
    <div id="measureSelectors" class="accordion">
      <% @categories.each_with_index do |categorized, idx| %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#category<%=idx%>" class="accordion-toggle" data-parent="#measureSelectors" data-toggle="collapse">
              <i class="icon-chevron-right pull-left"></i>
              <div>
              <%= categorized['category'] %>
              </div> 
            </a>
          </div>
          <div id="category<%=idx%>" class="accordion-body collapse">
            <ul class="accordion-inner measureItemList">
               <% categorized['measures'].each do |measure| -%>
                 <li data-category="<%= categorized['category'] %>">
                <label class="checkbox">
                  <%= check_box_tag :measure_id, measure["id"], is_selected?(measure['id'], current_user.selected_measures), {id: nil, 'data-measure-id' => measure['id'], 'data-sub-measures' => measure['sub_ids'].join(',')} %><%= measure['name'] %>
                </label>         
                </li>
               <% end -%>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    
    <% if @selected_provider %>
      <ul class="filterItemList">
        <li>
            <label class="checkbox">
                <%= check_box_tag :measure_id, provider.npi, is_selected?(measure['id'], current_user.selected_measures), {id: nil, 'data-filter-type' => 'provider', 'data-filter-value' => @selected_provider.id} %>
                <%= @selected_provider.full_name %>
            </label>
        </li>
      </ul>
    </div>
    <% elsif can?(:manage, :providers)%>
      <%= render partial: 'provider_filters' %>
    <% end %>


    <h5>
      Demographics
    </h5>
    <div id="filterSelectors" class="accordion">
      <%= render partial: 'filters', locals: {filters: @races, type: "race"} %>
      <%= render partial: 'filters', locals: {filters: @ethnicities, type: "ethnicity"} %>
      <%= render partial: 'filters', locals: {filters: @genders, type: "gender"} %>
      <%= render partial: 'filters', locals: {filters: @languages, type: "language"} %>
    </div>

   </div><!-- end #providerReports --> 
    <div id="dashboardPeriod" class="span10">
      
      <div class="dashboard row-fluid">
        <div style="margin-top: 20px;" class="pull-right">
          <% if (@selected_provider || !can?(:manage, :providers)) %>   
            <a class="btn" href="#">Export Report</a>
          <% else %>
            <%= link_to measures_qrda_cat3_path(format: :xml), class: 'btn' do %>
              <i class="icon-download-alt"></i>
              Export Report
            <% end %>
           <!--  <div class="btn-group">
              <a id="btnExportReportSingle" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-download-alt"></i>
        Export Report
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" tabindex="-1">Provider Report</a></li>
                <li><a href="#" tabindex="-1">Practice Report</a></li>
              </ul>
            </div> -->
          <% end %>
        </div>
        <% if (@selected_provider) %>
          <dl>
            <dt>Provider:</dt>
            <dd class="practiceName"><h4><%=@selected_provider.full_name%></h4></dd>
          </dl>
        <% else %>
          <%= content_tag(:h1, current_user.company) unless current_user.company.nil? || current_user.company.empty? %>
          <dl>
            <dt>Practice:</dt>
            <dd class="practiceName"><h4><%=APP_CONFIG['practice_name']%></h4></dd>
          </dl>
        <% end %>
        
        <dl id="reporting-period">
          <dt>Reporting Period:</dt>
          <dd>
            <form class="form-inline">
              <div id="measurementPeriodStartDate" style="margin-top:5px; margin-right:9px"> <%= Time.at(@period_start).utc.strftime("%m/%d/%Y") %>   - </div>
             
                <input id="measurementPeriodEndDate" type="text" class="input-small" value="<%= Time.at(@effective_date).utc.strftime("%m/%d/%Y") %>">
      
              <button id="btnMeasurementPeriodChange" <% if (@selected_provider) %> data-npi="<%=@selected_provider.npi%>" <% end %> class="btn btn-small" type="submit"> 
                <i class="icon-refresh"></i>
              </button>
         
            </form>
          </dd>
        </dl>
        <dl>
          <dt># of Patients: </dt>
          <dd><%= @patient_count %></dd>
        </dl>
        <% unless (@selected_provider) %>
          <dl>
            <dt># of Providers: </dt>
            <dd><%= Provider.all.count %> </dd>
          </dl>
        <% end %>
       
      </div>

      <div id="measures" class="row-fluid">
        <% @categories.each do |categorized| %>
            <div style="<%= display_header(categorized['measures'], current_user.selected_measures)%>" class='headerRow row-fluid'><%=categorized['category'] %>
            </div>
            <%= render :partial => "measure", :collection => categorized['measures'] %>
        <% end %>
        </div>  
    </div><!-- end #dashboardPeriod -->
  </div><!-- end #pageContent -->
