<% content_for :head do %>
  <script type="text/javascript">
    function llog(x) {}

    var popHealth = popHealth || {};
    var sort = "_id";
    var offset = 0;
    var limit = 20;
    var display_type= "denominator";
    var effective_date = <%=Time.gm(2010, 12, 31).to_i%>;
    var measure_id= '<%==params[:id] %>';
    var sub_id= '<%==params[:sub_id] %>';
    var sort_ascending = true;

    popHealth.drawPctChart = function(data) {
      if (data.complete) {
        data = data.result[0]
        var elem = "#measureMetrics";
        var percent = data.DENOM > 0 ? Math.floor((data.NUMER/data.DENOM)*100) : 0;
        var numeratorWidth = (data.numerator/<%= @patient_count %>).toFixed(2)*100;
        var denominatorWidth = data.DENOM > 0 ? ((data.DENOM - data.NUMER)/<%= @patient_count %>).toFixed(2)*100 : 0;
      
        $(elem).find(".numeratorValue").text(data.NUMER);
        $(elem).find(".denominatorValue").text(data.DENOM);
        $("#measurePopulationPercentage").text(percent + "%");
        console.log(data)
        $("#numeratorCount").text(data.NUMER);
        $("#denominatorCount").text(data.DENOM);
        $("#antiNumeratorCount").text(data.antinumerator);
        $("#exclusionsCount").text(data.DENEX);
        $("#exceptionsCount").text(data.DENEXCEP);
        display_type=$('input:radio[name=patientGroup]:checked').data('type')
      
        popHealth.reloadTable();
      }
    }

    popHealth.renderMeasureJSON = function(data) {
        var measure = data;
    }

    popHealth.reloadTable = function(data){
      $('#patientTableContainer').html("<div style='padding: 150px;'><img src='/assets/loading_bar.gif'/></div>");
      var params = ''
      <% if (@selected_provider) %> params = '?npi=<%= @selected_provider.npi %>';<%end%>
      var url = "<%= Rails.configuration.relative_url_root %>/measures/measure_patients/"+measure_id;
      if (sub_id) {
         url += "/"+sub_id
      }
      url += params
      $.ajax({ url: url,
               data: {sort:sort, sort_order:(sort_ascending? 'asc' :'desc' ) , offset:offset, limit:limit, type:display_type, effective_date:effective_date },
               type: "GET",
               dataType: 'html',
               success: function(res){
                 $('#patientTableContainer').html(res);
               },
               error: function(xhr, err) {
                 alert("We encountered an error rendering the popHealth UI.");
               }
             });
    }

    popHealth.sortPatientTable = function(field){
      sort = field;
      popHealth.reloadTable();
    }
    
    popHealth.poll = function() {
      var qr = new QualityReport('<%=@definition['id']%>', '<%=@definition['sub_id']%>');
      var params = {}
      <% if (@selected_provider) %> params['npi'] = '<%= @selected_provider.npi %>';<%end%>
      qr.poll(params, popHealth.drawPctChart);
    }

    $(document).ready(function() {
      //$.getJSON("json/bp.json",popHealth.renderMeasureJSON);
      $.getJSON("<%= measure_definition_url(@definition['id'], @definition['sub_id']) %>",popHealth.renderMeasureJSON);
      $("#measurementPeriodEndDate").val(new Date().format("mm/dd/yyyy"));
      $("#btnSaveNewMeasure").click(popHealth.saveNewMeasure);
      $("#btnReturnToDash").click(popHealth.returnToDash);
      $("#btnExportExcel").click(function() {window.location = '<%= patient_list_url(params[:id], params[:sub_id], :format => :xml) + (@selected_provider ? "?npi=#{@selected_provider.npi}":'') %>'})

      $('button.patientGroup').click(function() {
        //$('#patientTableContainer').patient_table.displayNumerator();
        $("button.patientGroup").removeClass("active")
        $(this).addClass("active")
        if(this.id == "num"){
          display_type = "NUMER";
        } else if(this.id == "den"){
            display_type = "DENOM";
        } else if(this.id == "exc"){
            display_type = "DENEX";
        } else if(this.id == 'denexc') {
            display_type = "DENEXCEP"
        } else {
            display_type = "antinumerator";
        }
        popHealth.reloadTable();
      });
      
      popHealth.poll();
      
    });
  var results = <%=@result.to_json.html_safe %>;
  </script>
<% end %>

  <div id="pageContent" class="row-fluid" style="margin-left:10px">
    <div id="patientMetrics" class="span2">

      <div class="row-fluid">
      <%= render :partial => 'shared/measure_metrics', locals: {numerator: (@result ? @result['numerator'] : 0), denominator: (@result ? @result['denominator'] : 0)} %>
      </div>
      <div style="margin-top:30px" class="row-fluid btn-group btn-group-vertical">
        <button id="num" href="#" class="patientGroup btn btn-success btn-large span12">Numerator<span id="numeratorCount" class="badge badge-inverse pull-left"></span></button>
        <button id="den" href="#" class="active patientGroup btn btn-info btn-large span12">Denominator<span id="denominatorCount" class="badge badge-inverse pull-left"></span></button>
        <button id="anti" href="#" class="patientGroup btn btn-danger btn-large span12">Outliers<span id="antiNumeratorCount" class="badge badge-inverse pull-left"></span></button>
        <button id="exc" href="#" class="patientGroup btn btn-warning btn-large span12">Exclusions<span id="exceptionsCount" class="badge badge-inverse pull-left"></span></button>
        <button id="denexc" href="#" class="patientGroup btn btn-inverse btn-large span12">Exceptions<span id="exclusionsCount" class="badge badge-inverse pull-left"></span></button>
      </div>
    </div><!-- end #patientMetrics -->
    <div id="dashboardPeriod" class="span10" >
      <button id="btnExportExcel" class="exportReport btn btn-info pull-right" style="margin-right:20px" type="button">
        <i class="icon-download-alt"></i>
        Export Report
      </button>
      <%= render :partial => 'shared/measure_title', locals: {measure: @definition, start_date: @period_start, effective_date: @effective_date }%>
            
      <br style="clear:left"/>
      <div id="patientTableContainer">
        <div style="padding: 150px;"><img src="/assets/loading_bar.gif"/></div>
      </div><!-- end patientTableContainer -->
    </div>
  </div><!-- end #pageContent -->
