<!-- Start Header -->
<div class="header">
  <div class="right top" id="session-controls"><p>Welcome,
    <%= link_to current_user.first_name, edit_user_path(current_user) %> |
    <%= link_to 'Logout', logout_path %>
  </p></div>
  <div class="doggy"><%= link_to image_tag("laika.png", :alt => 'Laika'), root_url %></div>
  <div class="right">
    <ul id="smallnav">
			<% if LOCAL_NIST_XDS %><li <% if current_controller? 'xds_utility' %>id="active"<% end %>><%= link_to 'XDS Utility', xds_utility_path %></li><% end %>
      <li <% if current_controller? 'atna_audits' %>id="active"<% end %>><%= link_to 'ATNA Log', atna_audits_path %></li>
      <li <% if current_controller? 'news' %>id="active"<% end %>><%= link_to 'News', news_path %></li>
      <li <% if current_controller? 'settings' %>id="active"<% end %>><%= link_to 'Settings', settings_path %></li>
      <li><a href="http://laika.sourceforge.net/about.html">About</a></li>
      <li><a href="mailto:<%= FEEDBACK_EMAIL %>">Feedback</a></li>
    </ul>
  </div>
  <div class="right">
    <ul id="bignav">
      <li <%= 'id="active"' if @show_dashboard || current_controller?('test_plans') %>>
        <%= link_to('Dashboard', test_plans_url) %></li>
      <li <%= 'id="active"' if !@show_dashboard && current_controller?('patients') %>>
        <%= link_to('Library', patients_url) %></li>
    </ul>
  </div>
</div>
<!-- End Header -->

