<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=7"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta name="description" content="<%= @description %>" />
  <meta name="keywords" content="<%= @keywords %>" />
  <title><%= @page_title %>: popHealth</title>  
  <link rel="profile" type="text/html" href="http://purl.org/uF/2008/03/" />
  <link rel="icon" type="image/png" href="<%= controller.relative_url_root %>/favicon.ico" />
  <% if RAILS_ENV == "development"  %>
  <%= stylesheet_link_tag 'blueprint/src/reset.css', 'blueprint/src/typography.css',  :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint/src/grid.css', 'blueprint/src/forms.css',  :media => "screen, projection" %>
  <%= stylesheet_link_tag 'app/custom.css', 'app/jquery.fancybox.css',  :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint/src/print.css', :media => "print" %>
 <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'blueprint/src/ie.css' , :media => "screen, projection" %>
  <%= stylesheet_link_tag 'app/ie-custom.css' , :media => "screen, projection" %>
 <![endif]-->
  <% else %>
  <%= stylesheet_link_tag 'app/screen.css', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'app/print.css', :media => "print" %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'app/ie.css' , :media => "screen, projection" %>
  <![endif]-->
  <% end%>


</head>
<body>
	<div id="canvas">
		<div id="page">
			<div id='header'>
					<a href="/"><%= image_tag("logo.png", :class => 'logo', :alt => 'popHealth') %></a>
				<ul>
					<li><%= link_to "Export", '#', :id => 'exportReport' %></li>
					<li><%= link_to "Upload", {:controller => :pophealth, :action => :upload}, :class => 'fancybox' %></li>
					<li><%= link_to 'Logout', logout_path %> (<%= current_user.first_name %>)</li>
			    	</ul>
			</div>
			<div id='container'>
				<%= yield %>
			</div>
		</div>
	</div>
  <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min.js' %>
  <%= javascript_include_tag 'jquery-blockui.js' %>

  <%= javascript_include_tag 'jquery.fancybox-1.2.1.pack.js' %>
  <%= javascript_include_tag 'pop_connect.js' %>
  <%= javascript_include_tag 'data_viewer.js' %>
  <%= javascript_include_tag 'report_navigator.js' %>
  <%= javascript_include_tag 'jquery.layout.js' %>
	<script type="text/javascript">
	   // <![CDATA[
		<%= @inline_javascript %>
		// ]]>
	</script>
</body>
</html>