<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>popHealth : An Open Source Quality Measure Reporting Service</title>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <%# stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'pophealth.css' %>
  <%= stylesheet_link_tag 'calendrical.css' %>  
  <%= stylesheet_link_tag 'vtip.css' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.13.custom.css' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.easing.1.3.js' %>
  <%= javascript_include_tag 'jquery.calendrical.js' %>
  <%= javascript_include_tag 'date.format.js' %>
  <%= javascript_include_tag 'jquery.tmpl.js' %>
  <%= javascript_include_tag 'vtip-min.js' %>
  <%= javascript_include_tag 'jquery-ui-1.8.13.custom.min.js' %>
  <%= javascript_include_tag 'jquery-idleTimeout.js' %>

  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
