<!DOCTYPE html>
<html>
<head>
  <title>PopHealth x</title>
  <%# stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'pophealth.css' %>
  <%= stylesheet_link_tag 'engage.itoggle.css' %>
  <%= stylesheet_link_tag 'vtip.css' %>
  <%= javascript_include_tag 'jquery-1.4.4.js' %>
  <%= javascript_include_tag 'jquery.easing.1.3.js' %>
  <%= javascript_include_tag 'engage.itoggle.js' %>
  <%= javascript_include_tag 'jquery.calendrical.js' %>
  <%= javascript_include_tag 'date.format.js' %>
  <%= javascript_include_tag 'jquery.tmpl.js' %>
  <%= javascript_include_tag 'jquery.hoverIntent.min.js' %>
  <%= javascript_include_tag 'vtip-min.js' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<%= yield %>
  
</body>
</html>
