<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>popHealth : An Open Source Quality Measure Reference Implementation</title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <%# stylesheet_link_tag :all %>
  
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
