<!DOCTYPE html>
<html>
<head>
  <title>popHealth : An Open Source Quality Measure Reporting Service</title>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <%# stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'pophealth.css' %>
  <%= stylesheet_link_tag 'engage.itoggle.css' %>
  <%= stylesheet_link_tag 'vtip.css' %>
  <%= javascript_include_tag 'jquery-1.4.4.js' %>
  <%= javascript_include_tag 'jquery.easing.1.3.js' %>
  <%= javascript_include_tag 'engage.itoggle.js' %>
  <%= javascript_include_tag 'jquery.calendrical.js' %>
  <%= javascript_include_tag 'date.format.js' %>
  <%= javascript_include_tag 'jquery.tmpl.js' %>
  <%= javascript_include_tag 'vtip-min.js' %>
  <script type="text/javascript">
  function roundNumber(num, dec) {
    return Math.round(num*Math.pow(10,dec))/Math.pow(10,dec);
  }
  </script>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
