<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>popHealth : An Open Source Quality Measure Reference Implementation</title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <%# stylesheet_link_tag :all %>
  
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tag %>
  <%= yield :head %>
  <% unless Rails.env.development? %>
  <script type="text/javascript" charset="utf-8">

    $(function() {
      $(document).idleTimeout({
         inactivity: 300000,
         noconfirm: 10000,
         sessionAlive: false,
         alive_url: '/',
         redirect_url: '<%= destroy_user_session_path %>',
         logout_url: '/logout.html'
       });
    });

  </script>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
