<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache" />

  <link rel="icon" type="image/png" href="<%= controller.relative_url_root %>/images/favicon.png" />

  <title>Laika Message Logs</title>

  <<% if RAILS_ENV == "development"  %>
  <%= stylesheet_link_tag 'blueprint/src/reset.css', 'blueprint/src/typography.css',  :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint/src/grid.css', 'blueprint/src/forms.css',  :media => "screen, projection" %>
  <%= stylesheet_link_tag 'app/custom.css', 'app/jquery.fancybox.css',  :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint/src/print.css', :media => "print" %>
 <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'blueprint/src/ie.css' , :media => "screen, projection" %>
  <%= stylesheet_link_tag 'app/ie-custom.css' , :media => "screen, projection" %>
 <![endif]-->
  <% else %>
  <%= stylesheet_link_tag 'app/screen.css', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'app/print.css', :media => "print" %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'app/ie.css' , :media => "screen, projection" %>
  <![endif]-->
  <% end%>
 

  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'common' %>  
  <%= javascript_include_tag 'scriptaculous' %>
  
  <%= calendar_date_select_includes "silver" %><%# patient %>

  <%= javascript_include_if_exists controller_name %>

  <!--[if IE 7]>
    <%= stylesheet_link_tag 'ie7master' %>
  <![endif]-->
  <!--[if lt IE 7]><%# TODO what's this URL? it's not valid on demo.cchit.org <zhobson> %>
    <link rel="stylesheet" href="/CatalystStyles/ie6.css" type="text/css" media="screen" />    
  <![endif]-->    
  <!--[if IE]>
    <%= stylesheet_link_tag 'blueprint/lib/ie', :media => 'screen, projection' %>
  <![endif]-->

  <!-- Show the grid and baseline -->
  <style type="text/css">
    /*<![CDATA[*/
    /*.container {background: url(<%= stylesheet_path 'blueprint/lib/grid.png' %>) repeat;}*/
    /*]]>*/
  </style>

 </head>
<body>

  <div class="level1">
    <div class="level2">
      <div class="level3">
      
        <%= yield  %>
 
         
      </div>
    </div>
  </div>
  
</body>



</html>

