<% @inline_javascript ||= "" 
	@inline_javascript = %{
		$(document).ready(function() {

		
			$('.fancybox').fancybox({
					'zoomOpacity':		true,
					'overlayShow':		false,
			  		'zoomSpeedIn':		500,
			   		'zoomSpeedOut': 		500,
			   		'hideOnContentClick': false
			});
		});
	}

%>
		<% inside_layout 'application' do %>
			<div id="sidebar">
				<div id="info">
					<h1><%= @population_count %> Patients</h1>
					<p><%= @population_name %></p>
				</div>
				<div id="reports">
					<ul>
						<% @reports.each do |item|  
							ratio = ((item.numerator.to_f / item.denominator.to_f) * 100)
							#percentage = ratio * 100
							%>
						<li class="report">
							<a href="/popconnect/report/<%= item.id %>">
								<span class="name"><%= item.title %></span>
								<span class="percentage"><%= ratio.round.to_s%>%</span>
							</a>
						</li>
						<% end %>
						<!--
						<li class="report new">
							<a href="/popconnect/create">
								<span class="name">New Report</span>
							</a>
						</li>
						-->
					</ul>
				</div>
			</div>
			<div id="main" class='content'>
				<% if flash[:error] %>
				<div class='error'><%= flash[:error]%></div>
				<% end %>
				<%= yield %>
			</div>
		<% end %>		