<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <title>popHealth : An Open Source Quality Measure Reference Implementation</title>
  <link rel="shortcut icon" href="/assets/favicon.ico"/>
  <%= javascript_include_tag 'jquery-1.4.4.js' %>
  <%= stylesheet_link_tag 'pophealth' %>
  <%= stylesheet_link_tag 'account' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'account' %>
</head>

<body class="login">

<%= yield %>

</body>
</html>