<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <title>popHealth : An Open Source Quality Measure Reporting Service</title>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <%= stylesheet_link_tag 'pophealth' %>
  <%= stylesheet_link_tag 'account' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'account' %>
</head>

<body class="login">

<%= yield %>

</body>
</html>