<%= form_for :user, :html => {:id => 'password_reset_form', :name => 'password_reset_form'} do |f| %>
<div id="login">
  <div id="cap-top"></div>
  <div id="cap-body">
    <div id="branding">
      <%= image_tag "pophealth_welcome.png", :id => 'imgLogo', :title => 'popHealth welcomes you!', :alt => 'popHealth logo' %>
    </div>
    <div id="panelReset" class="panel">
      <h1>Reset your password.</h1>
      <br>
      <div>
        <label>New password:</label>
        <%= f.password_field :password %>
        <p>Must be at least 5 characters long.</p>

        <label for="password_confirmation">Confirm Password:</label>
        <%= password_field_tag :password_confirmation %>
        <p>Must be at least 5 characters long.</p>
      </div>

      <div class="accountError">
          <%= flash[:error] %>
      </div>

      <div class="actions">
        <a class="whitebutton" href="/"><span>Cancel</span></a>
        <a class="bluebutton" href="#" onclick="document.forms['password_reset_form'].submit();" ><span>Reset Password</span></a>
      </div>
    </div>
  </div>  
  <div id="cap-bottom"></div>
</div>
<% end %>