<%= form_tag(login_accounts_url, {:name=>"login_form"}) do %>
<div id="login">
  <div id="cap-top"></div>
  <div id="cap-body">
    <div id="branding">
      <%= image_tag "pophealth_welcome.png", :id => 'imgLogo', :title => 'popHealth welcomes you!', :alt => 'popHealth logo' %>
    </div>
    <div id="panelLogin" class="panel">
      <label for="username">User Name</label>
      <input type="text" name="username" id="username"/>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" onkeypress="return submitKeyPress(event);"/>

      <div class="accountError">
        <% if warden.errors[:login] %>
        <%   warden.errors[:login].each do |error_message| %>
        <%=    error_message.to_s %><br>
        <%   end %>
        <% end %>
      </div>

      <div class="actions">
        <%# <a class="whitebutton" href="#"><span>Cancel</span></a> %>
        <a class="bluebutton" href="#" onclick="submitLoginform();"><span>Login</span></a>
      </div>

      <div class="links">
          <a href="<%= new_account_url %>">Create New Account</a> <br>
          <a href="<%= forgot_password_accounts_url %>">Forgot Password </a>
      </div>

      <div class="links info">
          popHealth v0.9<br>
          <a href="http://www.hhs.gov/healthit/">Office of the National Coordinator for Health Information Technology</a> |
          <a href="http://www.mitre.org" target="_blank">MITRE</a>
      </div>

    </div>
  </div>
  <div id="cap-bottom"></div>
</div><!-- END #login -->
<% end -%>