<%= form_tag(login_accounts_url, {:name=>"login_form"}) do %>
<div id="login">
  <div id="cap-top"></div>
  <div id="cap-body">
    <div id="branding">
      <%= image_tag "pophealth_welcome.png", :id => 'imgLogo', :alt => 'popHealth welcomes you!' %>
      <br/><br/>
    </div>
    <div id="panelLogin">
      <div style="padding-bottom:18px">
        <label>User Name</label>
        <input type="text" name="username" id="username"/>
      </div>
      <div style="padding-bottom:18px">
        <label>Password</label>
        <input type="password" name="password" id="password"/>
      </div>
      <input type="hidden" name="eventHandler" value="" onkeypress="return submitKeyPress(event);"/>
      <br/>
      <div style="color:#FF0000; font-weight: bold">
        <% if warden.errors[:login] %>
        <%   warden.errors[:login].each do |error_message| %>
        <%=    error_message.to_s %>
        <%   end %>
        <% end %>
      </div>
      <div style="height: 20px; margin-left:295px; width:auto;">
        <a class="whitebutton" href="#"><span>Cancel</span></a>
        <a class="bluebutton" href="javascript:submitLoginform();"><span>Login</span></a>
      </div>
      <div class="doggyhelp" style="height: 185px">
        <div style="float: left; position: relative; width: 288px; height: 178px;">
          <div style="width:160px; position:absolute; top:30px; left:20px; line-height:1.2em; font-size:11px;">
            <a class="loginlink" href="<%= new_account_url %>">Create New Account</a>
          </div>
          <div style="position:absolute; top:50px; left:20px; font-size:11px;">
            <a class="loginlink" href="<%= forgot_password_accounts_url %>">Forgot Password </a>
          </div>
        </div>
        <div style="position: absolute; bottom: 0px; right: 0px; text-align:right; font-size:11px;">
          popHealth v0.9<br>
          <a class="loginlink" href="http://www.hhs.gov/healthit/">Office of the National Coordinator for Health Information Technology</a> |
          <a class="loginlink" href="http://www.mitre.org" target="_blank">MITRE</a>
        </div>
      </div>
    </div>
  </div>
  <div id="cap-bottom"></div>
</div><!-- END #login -->
<% end -%>